<aui-table [dataSource]="rules">
  <ng-container [auiTableColumnDef]="'host'">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'domain_name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.host || '*' }}
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="'rule'">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'rule' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <alk-ingress-rule-value-table
        *ngIf="item.http; else noRuleTemplate"
        [namespace]="namespace"
        [ruleValue]="item.http"
      >
      </alk-ingress-rule-value-table>
      <ng-template #noRuleTemplate>-</ng-template>
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row
    *auiTableHeaderRowDef="columnDefs"
  ></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columnDefs"></aui-table-row>
</aui-table>
<alk-zero-state *ngIf="isEmpty" resourceName="rule"> </alk-zero-state>
