<aui-table auiSort [dataSource]="list">
  <ng-container *ngFor="let column of columnDefs">
    <ng-container [auiTableColumnDef]="column.name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ column.label | translate }}
      </aui-table-header-cell>

      <aui-table-cell *auiTableCellDef="let item">
        <ng-container [ngSwitch]="column.name">
          <alk-time
            *ngSwitchCase="'creationTimestamp'"
            [timestamp]="getCellValue(item, column.name)"
          >
          </alk-time>

          <!-- Name columns also contains labels -->
          <div *ngSwitchCase="'name'">
            <a [routerLink]="item | alkDetailRoutes"
              >{{ getCellValue(item, column.name) }}</a
            >
            <div
              class="tabel-cell__label-container"
              *ngIf="getCellValue(item, 'labels')"
            >
              <alk-tags-label
                [tags]="getCellValue(item, 'labels')"
              ></alk-tags-label>
            </div>
          </div>

          <div
            *ngSwitchCase="'internal_endpoints'"
            class="tabel-cell__label-container"
          >
            <alk-internal-endpoint
              [endpoints]="[getCellValue(item, 'internal_endpoints')]"
            ></alk-internal-endpoint>
          </div>

          <div
            *ngSwitchCase="'action'"
            [auiDropdown]="menu.menu"
            auiDropdownActive="action-button__active"
            class="action-button"
          >
            <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
          </div>
          <alk-simple-resource-action-menu
            #menu
            (updated)="onUpdate(item)"
            (deleted)="onUpdate(item)"
            [resource]="item"
          >
          </alk-simple-resource-action-menu>

          <ng-container *ngSwitchDefault>
            {{ getCellValue(item, column.name) || '-' }}
          </ng-container>
        </ng-container>
      </aui-table-cell>
    </ng-container>
  </ng-container>

  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
</aui-table>

<alk-zero-state *ngIf="!list || list.length === 0" [resourceName]="'service'">
</alk-zero-state>
