$background-arc-color: #e8e8e8;

text {
  dominant-baseline: middle;
}

.center-text {
  &__main {
    font-size: 15px;
    font-weight: 500;
    color: #666666;
  }
  &__sub {
    font-size: 12px;
    color: #909090;
  }
}

.full-arc-path {
  fill: $background-arc-color;
}

.fraction-arc-path {
  cursor: pointer;
  &:hover {
    stroke: currentColor;
    stroke-width: 2px;
  }
}

.fraction-label-text {
  font-size: 12px;
}

.total-text {
  font-size: 20px;
  font-weight: 500;
}
