<alk-array-form-table
  resourceName="ports"
  [noRowSeparator]="true"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
  [formGroup]="form"
>
  <ng-container *alkArrayFormTableHeader>
    <th width="31%">{{ 'name' | translate }}</th>
    <th width="20%">{{ 'protocol' | translate }}</th>
    <th [width]="!clusterIP ? '17%' : '25.5%'">
      {{ 'service.port' | translate }}
    </th>
    <th [width]="!clusterIP ? '17%' : '25.5%'">
      {{ 'service.targetPort' | translate }}
    </th>
    <th width="17%" *ngIf="!clusterIP">{{ 'service.nodePort' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container
    *alkArrayFormTableRow="let control; let index = index"
    [formGroupName]="index"
  >
    <td><input (blur)="onBlur()" aui-input formControlName="name" /></td>

    <td>
      <aui-select (blur)="onBlur()" formControlName="protocol">
        <aui-option *ngFor="let key of ['TCP', 'UDP']" [value]="key">
          {{ key }}
        </aui-option>
      </aui-select>
    </td>

    <td>
      <input (blur)="onBlur()" aui-input type="number" formControlName="port" />
    </td>

    <td>
      <input
        (blur)="onBlur()"
        aui-input
        type="number"
        formControlName="targetPort"
      />
    </td>

    <td *ngIf="!clusterIP">
      <input
        (blur)="onBlur()"
        aui-input
        type="number"
        formControlName="nodePort"
      />
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *alkArrayFormTableRow="let control"> </ng-container>
</alk-array-form-table>
