<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item>
    <label auiFormItemLabel> {{ 'name' | translate }} </label>
    <input
      (blur)="onBlur()"
      maxlength="63"
      auiFormItemControl
      aui-input
      formControlName="name"
    />
    <div auiFormItemError>
      <ng-container *ngIf="form.get('name').errors?.required">
        {{ 'required' | translate }}
      </ng-container>
      <ng-container *ngIf="form.get('name').errors?.pattern">
        {{ 'name_placeholder' | translate }}
      </ng-container>
    </div>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel> {{ 'image' | translate }} </label>
    <input
      (blur)="onBlur()"
      auiFormItemControl
      aui-input
      required
      formControlName="image"
    />
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'pod_spec_form.container_resources' | translate }}
    </label>
    <alk-resources-form
      (blur)="onBlur()"
      auiFormItemControl
      formControlName="resources"
    >
    </alk-resources-form>
    <div auiFormItemAddon>
      <aui-icon
        icon="basic:question"
        [auiTooltip]="'pod_spec_form.container_resources_help_info' | translate"
      ></aui-icon>
    </div>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel> {{ 'env' | translate }} </label>
    <alk-env-form
      (blur)="onBlur()"
      [namespace]="namespace"
      [containerName]="form.get('name').value"
      auiFormItemControl
      formControlName="env"
    >
    </alk-env-form>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel> {{ 'env_from' | translate }} </label>
    <alk-env-from-form
      (blur)="onBlur()"
      [namespace]="namespace"
      auiFormItemControl
      formControlName="envFrom"
    >
    </alk-env-from-form>
  </aui-form-item>

  <alk-foldable-block>
    <div class="alk-card-section-divider">{{ 'advanced' | translate }}</div>

    <aui-form-item>
      <label auiFormItemLabel> {{ 'commands' | translate }} </label>

      <aui-tags-input
        (blur)="onBlur()"
        [allowRepeat]="true"
        [allowEmpty]="true"
        auiFormItemControl
        formControlName="command"
      >
      </aui-tags-input>
      <div auiFormItemAddon>
        <aui-icon
          icon="basic:question"
          [auiTooltip]="'pod_spec_form.commands_help_info' | translate"
        ></aui-icon>
      </div>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel> {{ 'args' | translate }} </label>

      <aui-tags-input
        (blur)="onBlur()"
        auiFormItemControl
        [allowRepeat]="true"
        [allowEmpty]="true"
        formControlName="args"
      >
      </aui-tags-input>
      <div auiFormItemAddon>
        <aui-icon
          icon="basic:question"
          [auiTooltip]="'pod_spec_form.args_help_info' | translate"
        ></aui-icon>
      </div>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'pod_spec_form.volume_mounts' | translate }}
      </label>
      <alk-volume-mounts-form
        (blur)="onBlur()"
        auiFormItemControl
        [volumesForm]="volumesForm"
        formControlName="volumeMounts"
      >
      </alk-volume-mounts-form>
      <div auiFormItemAddon>
        <aui-icon
          icon="basic:question"
          [auiTooltip]="'pod_spec_form.volume_mounts_help_info' | translate"
        ></aui-icon>
      </div>
    </aui-form-item>
  </alk-foldable-block>
</form>
