<form [formGroup]="form">
  <aui-form-item>
    <label auiFormItemLabel> {{ 'update_strategy' | translate }} </label>

    <aui-select auiFormItemControl (blur)="onBlur()" formControlName="type">
      <aui-option *ngFor="let option of types" [value]="option">
        {{ option }}
      </aui-option>
    </aui-select>
  </aui-form-item>

  <aui-form-item
    *ngIf="typeControl.value === 'RollingUpdate'"
    formGroupName="rollingUpdate"
  >
    <label auiFormItemLabel>
      {{ 'rolling_update_strategy' | translate }}
    </label>

    <div class="input-groups-wrapper">
      <aui-input-group>
        <div auiInputAddonBefore class="addon-label">
          {{ 'partition' | translate }}
        </div>
        <input
          (blur)="onBlur()"
          type="number"
          min="0"
          aui-input
          auiFormItemControl
          formControlName="partition"
        />
      </aui-input-group>
    </div>
  </aui-form-item>
</form>
