@import '../shared/var.scss';

:host {
  display: block;
  height: 100%;
  width: 100%;

  ::ng-deep .aui-layout-nav-drawer__content {
    overflow: auto;
  }
}

::ng-deep .yaml-create-menu__button {
  .aui-menu-item {
    height: auto !important;
    padding: 4px 12px;
    & div:first-child {
      color: $color-text-main;
      margin-bottom: 4px;
      .aui-icon {
        margin-right: 4px;
      }
    }
    & div:last-child {
      font-size: 12px;
      color: $color-text-help;
    }
  }
}

.nav-header {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;

  &__logo,
  &__label {
    display: flex;
    flex: 1;
    padding: 0 8px;
  }

  &__logo {
    height: 100%;
    font-size: 20px;
    justify-content: center;
  }

  &__divider {
    width: 1px;
    height: 28px;
    opacity: 0.35;
    background: #fff;
  }
}

aui-nav-item:focus {
  outline: none;
}

.nav-item-content {
  display: flex;
  align-items: center;
  &__icon {
    display: flex;
    align-items: center;
    width: 28px;
    font-size: 16px;
  }
}

.layout-toolbar {
  display: flex;
  flex: 1;
  align-items: center;

  &__kubectl {
    font-size: 16px;
    color: #fff;
    padding: 3px 6px;
    cursor: pointer;
    &:hover,
    &.isActive {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__create-button {
    display: inline-flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    aui-icon {
      margin-right: 4px;
    }
  }

  ::ng-deep .layout-toolbar__create-button {
    padding: 3px 8px;
    margin-right: 8px;
    border-radius: 2px;
    aui-icon {
      margin-right: 0;
      font-size: 16px;
      &:last-child {
        font-size: 12px;
      }
      .aui-icon-angle_down {
        margin-left: 2px;
      }
    }
    &:hover,
    &.isActive {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  .help-docs {
    font-size: 16px;
    padding: 4px 6px;
    height: 28px;
    margin-right: 8px;
    border-radius: 2px;
    color: $color-white;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.layout-page-header {
  display: flex;
  align-items: center;
  flex: 1;

  mat-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.layout-page-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  ::ng-deep router-outlet + * {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.create-resource-dialog-title {
  &__fullscreen-button {
    cursor: pointer;
    width: 28px;
    height: 28px;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

.create-resource-dialog {
  &__button {
    margin-top: 4px;
  }

  ::ng-deep .aui-code-editor {
    min-height: 400px;
  }
}

.nav-header__logo {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0;
}
