<aui-layout>
  <div class="nav-header" *auiNavDrawerHeader>
    <div class="nav-header__logo"></div>
  </div>

  <ng-container *auiNavDrawerContent>
    <aui-platform-nav
      [activatedKey]="activatedKey$ | async"
      [groups]="navConfig$ | async"
      [theme]="navTheme$ | async"
      [hideMainPanelToggle]="true"
      (activatedItemChange)="handleActivatedItemChange($event)"
    >
    </aui-platform-nav>
  </ng-container>

  <div *auiToolbarContent class="layout-toolbar">
    <div fxFlex></div>

    <div
      class="layout-toolbar__kubectl"
      title="kubectl"
      (click)="openKubectl()"
    >
      <aui-icon icon="basic:kubectl"></aui-icon>
    </div>

    <div class="layout-toolbar__create-button" [auiDropdown]="menu">
      <aui-icon icon="basic:plus"></aui-icon>
      <aui-icon icon="angle_down"></aui-icon>
    </div>

    <a
      href="/console-docs"
      target="_blank"
      class="help-docs"
      [title]="'help_doc' | translate"
      ><aui-icon icon="basic:question"></aui-icon
    ></a>

    <alk-account-menu></alk-account-menu>
  </div>
  <div *auiPageHeader class="layout-page-header">
    <ng-container *cdkPortalOutlet="(pageHeaderContentTemplate$ | async)">
    </ng-container>
    <alk-default-breadcrumb
      *ngIf="!(pageHeaderContentTemplate$ | async)"
    ></alk-default-breadcrumb>
    <mat-progress-bar
      [class.alk-invisible]="!(showLoadingBar$ | async)"
      [mode]="'indeterminate'"
    >
    </mat-progress-bar>
  </div>
  <div
    *auiPageContent
    class="layout-page-content"
    [@zoomInOut]="activatedRouteComponent"
    (@zoomInOut.start)="onPageAnimationStart()"
  >
    <router-outlet
      *ngIf="initialized"
      (activate)="activatedRouteComponent = $event"
    >
    </router-outlet>
  </div>
</aui-layout>

<ng-template #yamlCreateDialog>
  <aui-dialog-header> {{ 'create_apply' | translate }} </aui-dialog-header>

  <aui-dialog-content class="create-resource-dialog">
    <aui-code-editor
      [actionsConfig]="edtiorActions"
      [options]="editorOptions"
      [originalValue]="yamlOriginalValue"
      [(ngModel)]="yamlInputValue"
    ></aui-code-editor>
  </aui-dialog-content>
  <aui-dialog-footer>
    <div>
      <button
        aui-button="primary"
        [disabled]="yamlCreating || !yamlInputValue"
        (click)="createResource(yamlInputValue)"
      >
        {{ 'confirm' | translate }}
      </button>
      <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
    </div>
  </aui-dialog-footer>
</ng-template>

<aui-menu #menu>
  <aui-menu-item
    (click)="showYamlCreateDialog(yamlCreateDialog)"
    class="yaml-create-menu__button"
  >
    <div>
      <aui-icon icon="basic:yaml"></aui-icon>{{ 'create_apply' | translate }}
    </div>
    <div>{{ 'create_apply_hint' | translate }}</div>
  </aui-menu-item>
</aui-menu>
