@import '../../shared/_var.scss';

$card-margin: 10px;

:host {
  min-width: 900px;
  margin: -$card-margin;
}

.overview-chart-card {
  flex: 1;
  min-width: 120px;
  min-height: 120px;
  display: block;
  padding: 20px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin: $card-margin;
  border: $default-border;

  &--mini {
    flex-grow: 0;

    .overview-chart-card__title {
      justify-content: center;
      margin-bottom: 0;
    }
  }

  &--pie {
    flex: 0 0 300px;
    height: 270px;
  }

  &__title {
    font-size: 16px;
    color: #333;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    white-space: nowrap;
  }

  &__spacer {
    flex: 1;
  }

  &__number-status {
    display: flex;
    color: $color-primary;
    font-size: 36px;
    align-items: center;
    justify-content: center;
  }
}

.overview-chart-row {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.overview-chart-col {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: stretch;
}
