.tls-form-item-group {
  background: #fff;
  padding: 12px;
  ::ng-deep .ca {
    .aui-form-item__content {
      position: relative;
      .import {
        position: absolute;
        right: 32px;
        top: 0;
      }
    }
  }
}

:host::ng-deep {
  .alk-form-table input.aui-input.aui-input--medium {
    height: 32px;
    width: 40%;
  }
}

aui-code-editor {
  height: 200px;
}

textarea {
  font-family: monospace;
  height: auto;
}
