<form auiForm auiFormLabelWidth="150px" [auiFormEmptyAddon]="true">
  <!-- Input row -->

  <div class="tls-form-item-group">
    <aui-form-item class="ca" [formGroup]="form">
      <label auiFormItemLabel> {{ 'secret.ca' | translate }} </label>
      <textarea
        (blur)="onBlur()"
        auiFormItemControl
        aui-input
        formControlName="tls.crt"
      ></textarea>

      <button
        aui-button
        class="import"
        size="mini"
        [plain]="true"
        (click)="fileUploadInput.click()"
      >
        <aui-icon icon="basic:add_circle"></aui-icon>
        {{ 'import' | translate }}
      </button>
    </aui-form-item>

    <aui-form-item [formGroup]="form">
      <label auiFormItemLabel> {{ 'secret.private_key' | translate }} </label>
      <textarea
        auiFormItemControl
        aui-input
        formControlName="tls.key"
        (blur)="onBlur()"
      >
      </textarea>
    </aui-form-item>
  </div>
</form>

<input
  #fileUploadInput
  hidden
  (change)="onImport($event)"
  type="file"
  multiple
  name="files[]"
/>
