<ng-container *alkPageHeaderContent>
  <alk-breadcrumb>
    <div *alkBreadcrumbItem>{{ 'nav_cluster' | translate }}</div>
    <a *alkBreadcrumbItem [routerLink]="['/namespace']"
      >{{ 'nav_namespace' | translate }}
    </a>
  </alk-breadcrumb>
  <alk-breadcrumb-separator></alk-breadcrumb-separator>
  <alk-namespace-selector
    [hideAllNamespaces]="true"
    [namespace]="name$ | async"
    (namespaceChanged)="namespaceChanged($event)"
  >
  </alk-namespace-selector>

  <div fxFlex></div>
  <button
    aui-button
    size="small"
    *ngIf="(detail$ | async)"
    [auiDropdown]="menu.menu"
    auiDropdownActive="action-button__active"
  >
    <span>{{ 'action' | translate }}</span>
    <aui-icon icon="angle_down"></aui-icon>
  </button>
  <alk-namespace-action-menu
    #menu
    [actions]="['create_resource_quota', 'create_limit_range', 'delete']"
    (updated)="onUpdate()"
    (deleted)="onUpdate()"
    [resource]="detail$ | async"
  >
  </alk-namespace-action-menu>
</ng-container>

<aui-tab-group
  [selectedIndex]="tabIndex$ | async"
  (selectedIndexChange)="onTabIndexChange($event)"
>
  <aui-tab *ngFor="let tab of tabs" label="{{ tab | translate }}"></aui-tab>
</aui-tab-group>

<div class="alk-detail-page-tab-container">
  <alk-namespace-detail-basic-info
    *ngIf="(tab$ | async) === 'basic_info'"
    (updated)="onUpdate()"
    [detail]="detail$ | async"
  >
  </alk-namespace-detail-basic-info>

  <alk-resource-yaml-editor
    *ngIf="(tab$ | async) === 'yaml'"
    mode="view"
    [resourceDetail]="detail$ | async"
  >
  </alk-resource-yaml-editor>

  <aui-card *ngIf="(tab$ | async) === 'events'">
    <div auiCardHeader></div>
    <alk-event-list [events]="(detail$ | async)?.eventList?.events">
    </alk-event-list>
  </aui-card>
</div>
