<aui-card>
  <div auiCardHeader>{{ 'basic_info' | translate }}</div>
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'name' | translate }}</div>
        <div class="alk-basic-info-field__content">
          {{ detail?.objectMeta.name }}
        </div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'status' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-namespace-status [phase]="detail?.phase"></alk-namespace-status>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'labels' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-resource-labels-field
            (updated)="updated.emit($event)"
            [resource]="detail"
          >
          </alk-resource-labels-field>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'annotations' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-resource-annotations-field
            (updated)="updated.emit($event)"
            [resource]="detail"
          >
          </alk-resource-annotations-field>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'created_at' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-time
            [timestamp]="detail?.objectMeta.creationTimestamp"
            mode="absolute"
          ></alk-time>
        </div>
      </div>
    </div>
  </div>
</aui-card>

<alk-namespace-detail-charts
  style="margin:10px -5px;"
  [namespace]="detail"
></alk-namespace-detail-charts>

<aui-card style="margin-top:4px;">
  <div class="card-header" auiCardHeader>
    <div class="card-header__label">
      {{ 'namespace.resource_quotas' | translate }}
    </div>

    <aui-select
      [(ngModel)]="selectedQuotaName"
      *ngIf="detail?.resourceQuotas.length > 0"
    >
      <aui-option
        *ngIf="!hideEffectiveResourceQuota"
        label="{{ 'namespace.effective_resource_quotas' | translate }}"
        [value]="''"
        >{{ 'namespace.effective_resource_quotas' | translate }}</aui-option
      >
      <aui-option
        [value]="resourceQuota.objectMeta.name"
        *ngFor="let resourceQuota of detail?.resourceQuotas; trackBy: trackByFn"
      >
        {{ resourceQuota.objectMeta.name }}
      </aui-option>
    </aui-select>

    <div
      class="card-header__scopes-label"
      *ngIf="selectedQuota && selectedQuota.scopes"
    >
      {{ 'namespace.quota_scope' | translate }}:
      {{ selectedQuota.scopes.join(', ') }}
    </div>

    <div fxFlex></div>

    <ng-container *ngIf="selectedQuota">
      <button
        aui-button="text"
        [plain]="true"
        [auiDropdown]="menu.menu"
        auiDropdownActive="action-button__active"
      >
        <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
      </button>

      <alk-simple-resource-action-menu
        #menu
        [actions]="['update', 'delete']"
        (updated)="updated.emit($event)"
        (deleted)="updated.emit($event)"
        [resource]="selectedQuota"
      >
      </alk-simple-resource-action-menu>
    </ng-container>
  </div>
  <alk-effective-quota-list
    *ngIf="!selectedQuota"
    [effectiveQuotas]="detail?.effectiveQuotas"
  >
  </alk-effective-quota-list>

  <alk-resource-quota-status-list
    *ngIf="selectedQuota"
    [statusList]="selectedQuota?.statusList"
  >
  </alk-resource-quota-status-list>
</aui-card>

<aui-card>
  <div class="card-header" auiCardHeader>
    <div class="card-header__label">
      {{ 'namespace.limit_ranges' | translate }}
    </div>

    <aui-select
      [(ngModel)]="selectedLimitRangeName"
      *ngIf="detail?.resourceLimits.length > 0"
    >
      <aui-option
        *ngIf="!hideEffectiveLimitRange"
        label="{{ 'namespace.effective_limit_ranges' | translate }}"
        [value]="''"
        >{{ 'namespace.effective_limit_ranges' | translate }}</aui-option
      >
      <aui-option
        [value]="limitRange.objectMeta.name"
        *ngFor="let limitRange of detail?.resourceLimits; trackBy: trackByFn"
      >
        {{ limitRange.objectMeta.name }}
      </aui-option>
    </aui-select>

    <div fxFlex></div>

    <ng-container *ngIf="selectedLimitRange">
      <button
        aui-button="text"
        [plain]="true"
        [auiDropdown]="menu.menu"
        auiDropdownActive="action-button__active"
      >
        <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
      </button>
      <alk-simple-resource-action-menu
        #menu
        [actions]="['update', 'delete']"
        (updated)="updated.emit($event)"
        (deleted)="updated.emit($event)"
        [resource]="selectedLimitRange"
      >
      </alk-simple-resource-action-menu>
    </ng-container>
  </div>

  <alk-limit-range-limit-list
    [limitRangeList]="
      !selectedLimitRangeName
        ? detail?.effectiveLimitRanges
        : selectedLimitRange?.limits
    "
  >
  </alk-limit-range-limit-list>
</aui-card>
