@import '../../shared/_var.scss';

// FIXME: most styles are copied from namespace page. Consider to move to a better place?

$card-margin: 5px;
$title-size: 16px;

:host {
  display: flex;
  margin-left: -$card-margin;
  margin-right: -$card-margin;
}

.namespace-chart-card {
  flex: 1;
  min-width: 120px;
  min-height: 120px;
  display: flex;
  flex-flow: column;
  padding: 20px;
  background: #fff;
  border-radius: 2px;
  border: $default-border;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin: $card-margin;

  &--no-padding {
    padding: 0;
  }

  &--mini {
    min-height: 60px;
    flex-flow: row;
    justify-content: space-between;
    font-size: $title-size;

    .namespace-chart-card__title {
      justify-content: center;
      margin-bottom: 0;
      font-size: $title-size;
    }

    .namespace-chart-card__number-status {
      font-size: $title-size;
    }
  }

  &--mini-twin {
    flex-flow: row;

    .namespace-chart-card__title {
      margin-top: 10px;
      margin-bottom: 0;
    }

    .mini-twin-container {
      flex: 1 1 50%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__divider {
    flex-basis: 2px;
    flex-shrink: 0;
    justify-self: stretch;
    background: #eee;
    margin: 0 20px;
  }

  &--pie {
    flex: 0 0 300px;
    height: 270px;
  }

  &__title {
    font-size: $title-size;
    color: #333;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    white-space: nowrap;
  }

  &__spacer {
    flex: 1;
  }

  &__number-status {
    display: flex;
    color: $color-primary;
    font-size: 36px;
    align-items: center;
    justify-content: center;
  }
}

.namespace-chart-row {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.namespace-chart-col {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: stretch;
}
