:host {
  ::ng-deep {
    .aui-form-item__label {
      width: auto;
    }
  }
}

.card-header {
  display: flex;
  align-items: center;

  &__label {
    margin-right: 8px;
  }

  &__scopes-label {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 500;
  }
}
