<ng-container *alkPageHeaderContent>
  <alk-default-breadcrumb>
    <div
      [title]="name"
      style="max-width: 224px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
      *alkBreadcrumbItem
    >
      <a
        [routerLink]="[
          '/administrator/roles/detail',
          { name: name, namespace: namespace }
        ]"
        >{{ name }}</a
      >
    </div>
  </alk-default-breadcrumb>
  <div fxFlex></div>
</ng-container>

<aui-card>
  <div auiCardHeader>
    {{
      (ruleIndex ? 'administrator.update_rule' : 'administrator.add_rule')
        | translate
    }}
  </div>
  <!-- basic info -->
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ ('role' | translate) + ('name' | translate) }}
        </div>
        <div class="alk-basic-info-field__content">{{ name }}</div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'administrator.role_type' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ 'administrator.' + data?.kind | translate }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row" *ngIf="namespace">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'namespace' | translate }}
        </div>
        <div class="alk-basic-info-field__content">{{ namespace }}</div>
      </div>
    </div>
  </div>
  <!-- actions -->
  <div class="section-title__element">{{ 'action' | translate }}</div>
  <!-- 操作类型 -->
  <aui-form-item>
    <label auiFormItemLabel>{{
      ('action' | translate) + ('type' | translate)
    }}</label>
    <aui-radio-group
      name="type"
      [(ngModel)]="actionsType"
      (ngModelChange)="actionTypeChange($event)"
    >
      <aui-radio value="readonly">{{ 'readonly' | translate }}</aui-radio>
      <aui-radio value="all">{{ 'all' | translate }}</aui-radio>
      <aui-radio value="custom">{{ 'custom' | translate }}</aui-radio>
    </aui-radio-group>
  </aui-form-item>
  <!-- 操作内容 -->
  <aui-form-item>
    <label auiFormItemLabel>{{ 'actions' | translate }}</label>
    <aui-checkbox
      *ngFor="let act of keys(curActions)"
      [(ngModel)]="curActions[act]"
      (ngModelChange)="actionsChange()"
      >{{ act }}</aui-checkbox
    >
  </aui-form-item>
  <!-- resources -->
  <div class="section-title__element">{{ 'resource' | translate }}</div>
  <!-- 资源类型 -->
  <aui-form-item>
    <label auiFormItemLabel>{{
      ('resource' | translate) + ('type' | translate)
    }}</label>
    <aui-radio-group
      name="type"
      [(ngModel)]="resourceType"
      (ngModelChange)="resourceTypeChange($event)"
    >
      <aui-radio value="recommended">{{ 'recommended' | translate }}</aui-radio>
      <aui-radio value="all">{{ 'all' | translate }}</aui-radio>
      <aui-radio value="custom">{{ 'custom' | translate }}</aui-radio>
    </aui-radio-group>
  </aui-form-item>
  <!-- 资源内容 -->
  <aui-form-item>
    <label auiFormItemLabel>{{ 'resources' | translate }}</label>
    <aui-checkbox
      *ngFor="let resource of keys(normalResourcesMap)"
      [(ngModel)]="normalResourcesMap[resource]"
      [title]="resource | translate"
      (ngModelChange)="resourcesChange()"
      >{{ resource }}</aui-checkbox
    >
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{
      ('administrator' | translate) + ('resource' | translate)
    }}</label>
    <aui-checkbox
      *ngFor="let resource of keys(administratorResourcesMap)"
      [(ngModel)]="administratorResourcesMap[resource]"
      (ngModelChange)="resourcesChange()"
      >{{ resource }}</aui-checkbox
    >
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'apigroups' | translate }}</label>
    <input
      type="text"
      aui-input
      [(ngModel)]="apiGroupsStr"
      (ngModelChange)="apiGroupsChange($event)"
    />
  </aui-form-item>

  <div class="button-group">
    <button aui-button="primary" (click)="submit()">
      {{ 'save' | translate }}
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>

</aui-card>
