<ng-container *alkPageHeaderContent>
  <alk-default-breadcrumb>
    <div
      style="max-width: 224px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
      [title]="name$ | async"
      *alkBreadcrumbItem
    >
      {{ name$ | async }}
    </div>
  </alk-default-breadcrumb>
  <div fxFlex></div>
</ng-container>

<!-- basic info -->
<alk-role-detail-basic-info
  [detail]="detail$ | async"
></alk-role-detail-basic-info>

<!-- permissions -->
<aui-card style="margin-top: 20px;">
  <div auiCardHeader>
    <h2 class="basic-info-header__label">
      {{ 'administrator.permissions_rules' | translate }}
    </h2>
    <div class="basic-info-header__button">
      <button
        aui-button="primary"
        [routerLink]="['/administrator/roles/rule', addRuleParams]"
      >
        {{ 'administrator.add_rule' | translate }}
      </button>
    </div>
  </div>
  <alk-role-permissions-list
    [detail]="detail$ | async"
  ></alk-role-permissions-list>
</aui-card>
