@import '../../../shared/_var.scss';

:host ::ng-deep .aui-card__content {
  .title__element {
    line-height: 20px;
    font-size: 18px;
    color: $color-text-main;
    padding-left: 20px;
    padding-top: 24px;
  }
  hr {
    background: #eee;
    border: none;
    height: 1px;
    margin: 16px 20px;
  }
  .button-group {
    margin-left: 5%;
    padding-bottom: 20px;
  }
  .aui-form-item {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 16px;
    .aui-form-item__label-wrapper {
      flex: 1;
    }
    .aui-form-item__container {
      flex: 8;
    }
  }
}
