.alk-basic-info-field {
  max-width: 100%;
  width: 100%;
  color: #4d4d4d;
  .alk-basic-info-field__label {
    justify-content: flex-end;
    flex: 2;
    line-height: 32px;
  }
  .alk-basic-info-field__content {
    flex: 16;
    line-height: 32px;
  }
}
