@import '../../../shared/_var.scss';

:host ::ng-deep .aui-card__header {
  display: flex;
  .basic-info-header__label {
    font-size: 18px;
    font-weight: normal;
    line-height: 32px;
    color: $color-text-main;
    flex: 1;
    align-self: center;
  }
  .basic-info-header__button {
    display: flex;
    justify-content: flex-end;
  }
}
