<aui-card>
  <div auiCardHeader>
    <h2 class="basic-info-header__label">{{ 'basic_info' | translate }}</h2>
    <div class="basic-info-header__button">
      <button aui-button (click)="upadteRole(updateTemplateRef)">
        {{ 'update' | translate }}
      </button>
      <button aui-button (click)="deleteRole()">
        {{ 'delete' | translate }}
      </button>
    </div>
  </div>
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'name' | translate }}</div>
        <div class="alk-basic-info-field__content">
          {{ detail?.objectMeta.name }}
        </div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'created_at' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-time
            [timestamp]="detail?.objectMeta.creationTimestamp"
            mode="absolute"
          ></alk-time>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'display_name' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ detail?.data.metadata.annotations?.displayName || '-' }}
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'creator' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ detail?.data.metadata.annotations?.createdBy || '-' }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'administrator.role_type' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ 'administrator.' + detail?.data.kind | translate }}
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'namespace' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ detail?.objectMeta.namespace || '-' }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field" style="width: 100%; max-width: 100%;">
        <div class="alk-basic-info-field__label" style="white-space: nowrap;">
          {{ 'description' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <div style="width: 100%; word-wrap: break-word;">
            {{ detail?.data.metadata.annotations?.description || '-' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</aui-card>

<ng-template #updateTemplateRef let-detail>
  <alk-role-update-dialog
    [detail]="detail"
    (confirmed)="onUpdate($event)"
  ></alk-role-update-dialog>
</ng-template>
