<aui-card>
  <h2 class="title__element">{{ 'administrator.create_role' | translate }}</h2>
  <hr />
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      type="text"
      aui-input
      [(ngModel)]="data.name"
      required
      (ngModelChange)="onNameChange($event)"
    />
    <div auiFormItemError *ngIf="nameRequired">
      {{ 'required' | translate }}
    </div>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
    <input type="text" aui-input [(ngModel)]="data.displayName" />
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'description' | translate }}</label>
    <textarea
      [(ngModel)]="data.description"
      aui-input
      cols="30"
      rows="10"
    ></textarea>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{
      ('role' | translate) + ('type' | translate)
    }}</label>
    <aui-radio-group auiFormItemControl name="type" [(ngModel)]="roleType">
      <aui-radio value="namespace">{{
        'administrator.Role' | translate
      }}</aui-radio>
      <aui-radio value="cluster">{{
        'administrator.ClusterRole' | translate
      }}</aui-radio>
    </aui-radio-group>
  </aui-form-item>
  <aui-form-item *ngIf="roleType === 'namespace'">
    <label auiFormItemLabel>{{ 'namespace' | translate }}</label>
    <aui-select
      required
      [(ngModel)]="data.namespace"
      (ngModelChange)="onNamespaceChange($event)"
      [placeholder]="'administrator.select_namespace_placeholder' | translate"
      [filterable]="true"
    >
      <aui-option
        *ngFor="let namespace of (namespaces$ | async)"
        [value]="namespace"
      >
        {{ namespace }}
      </aui-option>
    </aui-select>
    <div auiFormItemError *ngIf="namespaceRequired">
      {{ 'required' | translate }}
    </div>
  </aui-form-item>
  <hr />
  <div class="button-group">
    <button aui-button="primary" (click)="submit()">
      {{ 'create' | translate }}
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</aui-card>
