@import './var';

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin labelContainer {
  border: $border-width $border-style $border-color;
  border-radius: $border-radius;
  font-size: 12px;
  background: #fafafa;
  color: #666666;
  display: inline-block;
  padding: 2px 4px;
}
