<aui-dialog-header>
  {{ 'update' | translate }} {{ 'env' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm">
    <alk-env-form
      name="env"
      [namespace]="namespace"
      [containerName]="containerName"
      [(ngModel)]="env"
    ></alk-env-form>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button
      aui-button="primary"
      (click)="onConfirm()"
      [disabled]="form.invalid"
    >
      {{ 'confirm' | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
