@import '../../shared/mixins';

.node-list-addresses {
  &__address {
    @include text-overflow();
  }
}

.metrics-cell-wrapper {
  width: 100%;
  display: flex;
  &__label-col {
    white-space: nowrap;
    margin-right: 4px;
    font-size: 12px;
    & > *:first-child {
      margin-bottom: 4px;
    }
  }

  &__bar-col {
    flex: 1;
    & > *:first-child {
      margin-bottom: 4px;
    }
  }

  &__label {
    flex: 0 0 70px;
    font-size: 12px;
  }
  alk-node-allocated-resources-bar {
    flex: 1;
    display: block;
  }
}
