@import '../../shared/var';

.node-detail-chart-row {
  display: flex;
  margin: 20px 0;
}

.node-detail-chart-container {
  flex: 1;
  background: #fff;
  padding: 20px;
  border: $default-border;

  &__title {
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}
