<aui-dialog-header>{{ 'node.add_node' | translate }}</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'node.node_ip_list' | translate }}</label>
      <input
        required
        alkNodeIpListValidator
        aui-input
        type="text"
        name="node_list"
        placeholder="{{ 'node.node_ip_list_placeholder' | translate }}"
        [(ngModel)]="nodeList"
      />
      <span auiErrorHint *ngIf="getNodeListError(form)">
        <ng-container *ngIf="getNodeListError(form).malformattedIp">
          {{
            'node.malformatted_ip'
              | translate: { ip: getNodeListError(form)?.malformattedIp }
          }}
        </ng-container>
        <ng-container *ngIf="getNodeListError(form).redundantIp">
          {{
            'node.redundant_ip'
              | translate: { ip: getNodeListError(form)?.redundantIp }
          }}
        </ng-container>
      </span>
      <span auiFormItemHint>{{ 'node.node_ip_list_hint' | translate }}</span>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'port' | translate }} </label>
      <input
        required
        aui-input
        type="text"
        name="ssh_port"
        placeholder="SSH {{ 'port' | translate }}"
        [(ngModel)]="addNodeConfig.ssh_port"
      />
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <input
        required
        autocomplete="off"
        aui-input
        type="text"
        name="ssh_username"
        placeholder="SSH {{ 'username' | translate }}"
        [(ngModel)]="addNodeConfig.ssh_username"
      />
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'password' | translate }}</label>
      <input
        required
        autocomplete="off"
        aui-input
        type="password"
        name="ssh_password"
        placeholder="SSH {{ 'password' | translate }}"
        [(ngModel)]="addNodeConfig.ssh_password"
      />
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button
      aui-button="primary"
      [disabled]="form.invalid || updating"
      (click)="onConfirm(form)"
    >
      {{ 'node.add' | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
