$background-arc-color: #e8e8e8;

:host {
  display: flex;
  justify-content: center;
}

svg {
  overflow: visible;
}

.arc-links path {
  stroke-width: 1;
  stroke: #000;
  fill: none;
}

text {
  dominant-baseline: middle;
}

.link-text {
  font-size: 12px;
  fill: #666;
}

.fraction-text {
  font-size: 20px;
  font-weight: 500;
  .description {
    font-weight: 400;
    font-size: 12px;
    fill: #666;
  }
}

.full-arc-path {
  fill: $background-arc-color;
}
