<svg [attr.width]="width" [attr.height]="height">
  <svg:g [attr.transform]="transform">
    <!-- Texts and Links -->
    <svg:g *ngFor="let item of arcs; trackBy: trackByFn" class="arc-links">
      <svg:path [attr.d]="textLink(item).d"></svg:path>
      <svg:text
        class="link-text"
        [attr.dx]="textLink(item).end.x"
        [attr.dy]="textLink(item).end.y"
        [attr.text-anchor]="textLink(item).textAnchor"
      >
        <ng-container *ngIf="item.index === 0">
          {{ 'usage_used' | translate }}: {{ valueRender(used) }}
        </ng-container>
        <ng-container *ngIf="item.index === 1">
          {{ 'usage_unused' | translate }}: {{ valueRender(unused) }}
        </ng-container>
      </svg:text>
    </svg:g>

    <!-- Fraction Arc -->
    <svg:g>
      <svg:text text-anchor="middle" [attr.fill]="color" class="fraction-text">
        <tspan x="0" dy="-0.4em">{{ fraction | number:'1.2-2' }}%</tspan>
        <tspan x="0" dy="1.6em" class="description">
          {{ 'usage_total' | translate }}: {{ valueRender(total) }}
        </tspan>
      </svg:text>
      <svg:path [attr.d]="fullArcD" class="full-arc-path"></svg:path>
      <svg:path
        [attr.d]="fractionArcD"
        [attr.fill]="color"
        class="fraction-arc-path"
      ></svg:path>
    </svg:g>
  </svg:g>
</svg>
