@import '../../../shared/var';

.create-page-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  flex-flow: column;

  aui-code-editor {
    position: relative;
    flex: 1;
    ::ng-deep {
      .aui-code-editor {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .sample-toolbar {
    flex-shrink: 0;
    margin-top: 8px;
    display: flex;
    align-items: center;

    &__label {
      margin-right: 8px;
    }

    &__button {
      margin-right: 8px;
    }

    .aui-icon {
      font-size: 16px;
    }
  }

  .create-buttons {
    flex-shrink: 0;
    margin-top: 16px;
  }
}

.sample-code-editor ::ng-deep .aui-code-editor {
  min-height: 400px;
}
