<div class="create-page-wrapper">
  <aui-code-editor
    [actionsConfig]="actionsConfig"
    [options]="editorOptions"
    (ngModelChange)="onModelChange($event)"
    [ngModel]="yaml"
  >
  </aui-code-editor>

  <div class="sample-toolbar">
    <div class="sample-toolbar__label">
      {{ 'create_resource_sample_yaml' | translate }}:
    </div>

    <div
      class="sample-toolbar__button alk-link-button"
      (click)="onModelChange(sample)"
    >
      <aui-icon icon="basic:write_file"></aui-icon>
      {{ 'create_resource_sample_write_in' | translate }}
    </div>

    <div
      class="sample-toolbar__button alk-link-button"
      (click)="showSampleDialog(yamlSampleDialog)"
    >
      <aui-icon icon="basic:eye_s"></aui-icon>
      {{ 'create_resource_sample_preview' | translate }}
    </div>
  </div>

  <div class="create-buttons">
    <button
      aui-button="primary"
      [disabled]="creating || !yaml"
      (click)="onCreate()"
    >
      {{ 'create' | translate }}
    </button>
    <button (click)="back()" [disabled]="creating" aui-button>
      {{ 'cancel' | translate }}
    </button>
  </div>
</div>

<ng-template #yamlSampleDialog>
  <aui-dialog-header>
    {{ 'create_resource_sample_yaml' | translate }}
  </aui-dialog-header>

  <aui-dialog-content>
    <aui-code-editor
      class="sample-code-editor"
      [options]="{ language: 'yaml', readOnly: true }"
      [ngModel]="sample"
    >
    </aui-code-editor>
  </aui-dialog-content>
</ng-template>
