:host ::ng-deep {
  .aui-form-item__label {
    width: auto;
  }
  .aui-form-item__control {
    width: auto;
  }
  .aui-form-item__hint {
    display: none;
  }
}

.log-sources-toolbar {
  margin-bottom: 12px;
  display: flex;

  aui-form-item {
    margin-right: 24px;
  }
}
