<div class="log-sources-toolbar" *ngIf="!source && logSources">
  <aui-form-item *ngIf="logSources.podNames.length > 1">
    <label auiFormItemLabel>{{ 'pod' | translate }}</label>
    <aui-select [ngModel]="pod" (ngModelChange)="onPodSelected($event)">
      <aui-option [value]="podName" *ngFor="let podName of logSources.podNames"
        >{{ podName }}</aui-option
      >
    </aui-select>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'container' | translate }}</label>
    <aui-select
      [ngModel]="container"
      (ngModelChange)="onContainerSelected($event)"
    >
      <aui-option
        [value]="containerName"
        *ngFor="let containerName of logSources.containerNames"
        >{{ containerName }}</aui-option
      >
    </aui-select>
  </aui-form-item>
</div>

<div
  class="log-container"
  [class.log-container--dark]="monacoProvider.isDarkTheme"
>
  <div class="log-container-toolbar">
    <ng-container *ngIf="logsReady$ | async">
      <div class="log-container-toolbar__control-button" (click)="loadOldest()">
        <div class="log-container-toolbar__control-button-icon">
          <svg
            height="24"
            viewBox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z"
            />
            <path d="M24 24H0V0h24v24z" fill="none" />
          </svg>
        </div>
      </div>

      <div class="log-container-toolbar__control-button" (click)="loadOlder()">
        <div class="log-container-toolbar__control-button-icon">
          <svg
            height="24"
            viewBox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </div>
      </div>

      <div class="log-container-toolbar__control-button" (click)="loadNewer()">
        <div class="log-container-toolbar__control-button-icon">
          <svg
            height="24"
            viewBox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>
        </div>
      </div>

      <div class="log-container-toolbar__control-button" (click)="loadNewest()">
        <div class="log-container-toolbar__control-button-icon">
          <svg
            height="24"
            viewBox="0 0 24 24"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z"
            />
            <path d="M0 0h24v24H0V0z" fill="none" />
          </svg>
        </div>
      </div>
      <div class="log-container-toolbar__time-span">
        {{ (logInfo$ | async)?.fromDate | alkTime }} ~ {{ (logInfo$ |
        async)?.toDate | alkTime }}
      </div>
    </ng-container>

    <div class="log-container-toolbar__spacer"></div>

    <aui-checkbox
      class="log-container-toolbar__control-button"
      [class.log-container-toolbar__control-button--active]="pollNewest"
      [(ngModel)]="pollNewest"
      >{{ 'poll_logs' | translate }}
    </aui-checkbox>

    <div
      class="log-container-toolbar__control-button"
      (click)="onFindClicked()"
    >
      <div class="log-container-toolbar__control-button-icon">
        <aui-icon icon="search_s"></aui-icon>
      </div>
      {{ codeEditorIntl.findLabel }}
    </div>

    <div
      class="log-container-toolbar__control-button"
      (click)="monacoProvider.toggleTheme()"
    >
      <ng-container *ngIf="!monacoProvider.isDarkTheme">
        <div class="log-container-toolbar__control-button-icon">
          <aui-icon icon="sun"></aui-icon>
        </div>
        {{ codeEditorIntl.lightThemeLabel }}
      </ng-container>

      <ng-container *ngIf="monacoProvider.isDarkTheme">
        <div class="log-container-toolbar__control-button-icon">
          <aui-icon icon="moon"></aui-icon>
        </div>
        {{ codeEditorIntl.darkThemeLabel }}
      </ng-container>
    </div>

    <div
      *ngIf="logsReady$ | async"
      class="log-container-toolbar__control-button"
      (click)="onDownloadClicked()"
    >
      <div class="log-container-toolbar__control-button-icon">
        <aui-icon icon="basic:download"> </aui-icon>
      </div>
      {{ 'download' | translate }}
    </div>

    <div
      class="log-container-toolbar__control-button"
      (click)="toggleFullscreen()"
    >
      <div class="log-container-toolbar__control-button-icon">
        <ng-container *ngIf="!fullscreenDialog && !source">
          <aui-icon icon="expand_s"></aui-icon>
        </ng-container>

        <ng-container *ngIf="source">
          <aui-icon icon="compress_s"></aui-icon>
        </ng-container>
      </div>
      {{ !fullscreenDialog && !source ? codeEditorIntl.fullscreenLabel :
      codeEditorIntl.exitFullscreenLabel }}
    </div>
  </div>
  <ng-monaco-editor
    *ngIf="!fullscreenDialog"
    (monacoEditorChanged)="onMonacoEditorChanged($event)"
    [ngModel]="logs$ | async"
    [options]="monacoOptions"
  >
  </ng-monaco-editor>
</div>
