<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="80px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item formGroupName="metadata">
    <label auiFormItemLabel> {{ 'name' | translate }} </label>
    <input
      auiFormItemControl
      aui-input
      required
      (blur)="onBlur()"
      formControlName="name"
    />
  </aui-form-item>

  <aui-form-item formGroupName="metadata">
    <label auiFormItemLabel> {{ 'labels' | translate }} </label>

    <alk-key-value-form-table
      auiFormItemControl
      (blur)="onBlur()"
      formControlName="labels"
    >
    </alk-key-value-form-table>
  </aui-form-item>

  <aui-form-item formGroupName="metadata">
    <label auiFormItemLabel> {{ 'annotations' | translate }} </label>

    <alk-key-value-form-table
      auiFormItemControl
      (blur)="onBlur()"
      formControlName="annotations"
    >
    </alk-key-value-form-table>
  </aui-form-item>
</form>
