<alk-array-form-table
  [noRowSeparator]="true"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
  [formGroup]="form"
>
  <ng-container *alkArrayFormTableHeader>
    <th width="40%">{{ 'ingress.path' | translate }}</th>
    <th width="30%">{{ 'ingress.service_name' | translate }}</th>
    <th width="30%">{{ 'ingress.servicePort' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container
    *alkArrayFormTableRow="let control; let index = index"
    [formGroupName]="index"
  >
    <td><input (blur)="onBlur()" aui-input formControlName="path" /></td>

    <td>
      <aui-select
        (blur)="onBlur()"
        clearable
        [formControl]="control.get('backend.serviceName')"
      >
        <aui-option
          *ngFor="let service of services"
          [value]="service.objectMeta.name"
        >
          {{ service.objectMeta.name }}
        </aui-option>
        <aui-option-placeholder
          >{{ 'no_data_hint' | translate }}</aui-option-placeholder
        >
      </aui-select>
    </td>

    <td>
      <aui-select
        (blur)="onBlur()"
        [formControl]="control.get('backend.servicePort')"
      >
        <aui-option
          *ngFor="let port of getPorts(control.get('backend.serviceName').value)"
          [value]="port.port"
        >
          {{ port.port }}
        </aui-option>
        <aui-option-placeholder
          >{{ 'no_data_hint' | translate }}</aui-option-placeholder
        >
      </aui-select>
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *alkArrayFormTableRow="let control"> </ng-container>
</alk-array-form-table>
