@import '../../../shared/var';

:host {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 8px;
}

.namespace-label {
  color: #079fe3;
  cursor: pointer;
  display: flex;
  align-items: center;
  &__icon {
    margin-left: 4px;
  }
}

.namespace-dropdown {
  &__item {
    &--selected .namespace-dropdown__item-label {
      color: #079fe3;
      font-weight: 500;
    }

    &--all-namespaces {
      ::ng-deep .aui-menu-item {
        border-bottom: 1px solid #eee !important;
      }
    }
  }
}
