<div
  class="namespace-label"
  [auiDropdown]="menu"
  auiDropdownPosition="bottom start"
  auiDropdownClass="namespace-selector-dropdown"
  (auiDropdownShow)="onMenuShow()"
  (click)="labelClicked.emit()"
>
  <div class="namespace-label__text">
    {{ !namespace ? ('all_namespaces' | translate) : namespace }}
  </div>
  <aui-icon icon="caret_down_s" class="namespace-label__icon"> </aui-icon>
</div>

<aui-menu #menu>
  <aui-menu-item
    *ngIf="!hideAllNamespaces"
    class="namespace-dropdown__item--all-namespaces"
    [class.namespace-dropdown__item--selected]="!namespace"
    (click)="onSelectChange('')"
  >
    <span class="namespace-dropdown__item-label">
      {{ 'all_namespaces' | translate }}
      <ng-container *ngIf="namespaces$ | async"
        >({{ (namespaces$ | async).length }})</ng-container
      >
    </span>
  </aui-menu-item>
  <aui-menu-item
    (click)="onSelectChange(_namespace)"
    class="namespace-dropdown__item"
    [class.namespace-dropdown__item--selected]="_namespace === namespace"
    *ngFor="let _namespace of namespaces$ | async"
  >
    <span class="namespace-dropdown__item-label">{{ _namespace }}</span>
  </aui-menu-item>
</aui-menu>
