<aui-table [dataSource]="list$" [trackBy]="trackByFn">
  <ng-container *ngFor="let column of columnDefs">
    <ng-container [auiTableColumnDef]="column.name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ column.label | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container [ngSwitch]="column.name">
          <ng-container *ngSwitchCase="'name'">
            <a [routerLink]="item | alkDetailRoutes"
              >{{ getCellValue(item, column.name) }}</a
            >
            <div
              class="tabel-cell__label-container"
              *ngIf="getCellValue(item, 'labels')"
            >
              <alk-tags-label
                [tags]="getCellValue(item, 'labels')"
              ></alk-tags-label>
            </div>
          </ng-container>

          <alk-time
            *ngSwitchCase="'creationTimestamp'"
            [timestamp]="getCellValue(item, column.name)"
          >
          </alk-time>

          <div
            *ngSwitchCase="'action'"
            [auiDropdown]="menu.menu"
            auiDropdownActive="action-button__active"
            class="action-button"
          >
            <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
          </div>
          <alk-simple-resource-action-menu
            #menu
            (updated)="onUpdate(item)"
            (deleted)="onUpdate(item)"
            [resource]="item"
            [actions]="actions"
            [curResourceParams]="curResourceParams"
            [rollBackResourceParams]="rollBackResourceParams"
          >
          </alk-simple-resource-action-menu>

          <ng-container *ngSwitchDefault>
            {{ getCellValue(item, column.name) }}
          </ng-container>
        </ng-container>
      </aui-table-cell>
    </ng-container>
  </ng-container>

  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
<alk-zero-state *ngIf="!list || list.length === 0" [resourceName]="kind">
</alk-zero-state>
<aui-paginator
  *ngIf="(listMeta$ | async)?.totalItems > 10"
  [length]="(listMeta$ | async)?.totalItems"
  [pageSize]="(pageParams$ | async)?.pageSize"
  [pageIndex]="(pageParams$ | async)?.pageIndex"
  (currentPageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
  [pageSizeOptions]="[10, 20, 50, 100]"
>
</aui-paginator>
