<aui-table [dataSource]="ports">
  <ng-container [auiTableColumnDef]="'name'">
    <aui-table-header-cell *auiTableHeaderCellDef>{{
      'name' | translate
    }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let port">
      <ng-container>{{ port.name || '-' }}</ng-container>
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="'protocol'">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'protocol' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let port">
      {{ port.protocol }}
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="'port'">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'port' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let port">
      {{ port.port }}
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="'targetPort'">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'service.targetPort' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let port">
      {{ port.targetPort }}
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="'nodePort'">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'service.nodePort' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let port">
      {{ port.nodePort || '-' }}
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
<alk-zero-state *ngIf="showZeroState" resourceName="endpoints">
</alk-zero-state>
