<aui-card *ngFor="let tab of form.controls; let i = index" class="rule-item">
  <form auiForm [formGroup]="tab" auiFormLabelWidth="150px">
    <aui-form-item>
      <label auiFormItemLabel> {{ 'domain' | translate }} </label>
      <aui-multi-select
        auiFormItemControl
        filterable
        allowCreate
        clearable
        [placeholder]="'ingress.tls_domain_placeholder' | translate"
        (blur)="onBlur()"
        formControlName="hosts"
      >
        <aui-option *ngFor="let host of hosts" [value]="host"
          >{{ host }}</aui-option
        >
        <aui-option-placeholder
          >{{ 'no_data_hint' | translate }}</aui-option-placeholder
        >
      </aui-multi-select>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel> {{ 'ingress.ingress_tls' | translate }} </label>
      <aui-select
        auiFormItemControl
        formControlName="secretName"
        (blur)="onBlur()"
      >
        <aui-option
          *ngFor="let secret of secrets"
          [value]="secret.objectMeta.name"
          >{{ secret.objectMeta.name }}</aui-option
        >
        <aui-option-placeholder
          >{{ 'no_data_hint' | translate }}</aui-option-placeholder
        >
      </aui-select>
    </aui-form-item>
  </form>
  <aui-icon
    class="remove"
    icon="basic:trash"
    style="cursor: pointer;"
    (click)="remove(i)"
  ></aui-icon>
</aui-card>
<div class="footer">
  <div class="button-wrapper">
    <button aui-button (click)="add()">
      {{ 'ingress.add_tls' | translate }}
    </button>
  </div>
  <div class="placeholder"></div>
</div>
