<aui-card>
  <div auiCardHeader>{{ 'basic_info' | translate }}</div>
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'name' | translate }}</div>
        <div class="alk-basic-info-field__content">
          {{ detail?.objectMeta.name }}
        </div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'namespace' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <a
            [routerLink]="[
              '/namespace/detail',
              { name: detail?.objectMeta.namespace }
            ]"
            >{{ detail?.objectMeta.namespace }}</a
          >
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'labels' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-resource-labels-field
            (updated)="updated.emit($event)"
            [resource]="detail"
          >
          </alk-resource-labels-field>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'annotations' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-resource-annotations-field
            (updated)="updated.emit($event)"
            [resource]="detail"
          >
          </alk-resource-annotations-field>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'cronjob.schedule' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <code>{{ detail?.schedule || '-' }}</code>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'cronjob.starting_deadline' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <ng-container
            *ngIf="detail?.startingDeadlineSeconds; else: noValueTemplate"
          >
            {{
              detail?.startingDeadlineSeconds + ' ' + ('seconds' | translate)
            }}
          </ng-container>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'cronjob.suspend' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-status-icon
            style="align-self: center"
            [auiTooltip]="'cronjob.suspend' | translate"
            *ngIf="detail?.suspend; else: noValueTemplate"
            status="suspended"
          >
          </alk-status-icon>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'cronjob.concurrency_policy' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ detail?.concurrencyPolicy }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'images' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-shrink-list
            [list]="detail?.jobTemplate.containerImages"
          ></alk-shrink-list>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'cronjob.job_history_limit' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{
            ('success' | translate) +
              ' ' +
              detail?.successfulJobsHistoryLimit +
              ' , ' +
              ('failed' | translate) +
              ' ' +
              detail?.failedJobsHistoryLimit
          }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'cronjob.active_deadline_seconds' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <ng-container
            *ngIf="
              detail?.jobTemplate.activeDeadlineSeconds;
              else: noValueTemplate
            "
          >
            {{
              detail?.jobTemplate.activeDeadlineSeconds +
                ' ' +
                ('seconds' | translate)
            }}
          </ng-container>
          <ng-template #noValueTemplate>-</ng-template>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'cronjob.backoff_limit' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ detail?.jobTemplate.backoffLimit || '-' }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'cronjob.completions' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ detail?.jobTemplate.completions || '-' }}
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'cronjob.parallelism' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ detail?.jobTemplate.parallelism || '-' }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'created_at' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-time
            [timestamp]="detail?.objectMeta.creationTimestamp"
            mode="absolute"
          ></alk-time>
        </div>
      </div>
    </div>
  </div>
</aui-card>

<ng-template #noValueTemplate>-</ng-template>

<aui-card>
  <div auiCardHeader>
    <div>
      {{ 'cronjob.active_jobs' | translate }} ({{ detail?.active }}),
      {{ 'cronjob.last_schedule' | translate }}:
      <alk-time [timestamp]="detail?.lastSchedule"> </alk-time>
    </div>
  </div>

  <alk-job-list
    *ngIf="podActiveJobEndpoint"
    [endpoint]="podActiveJobEndpoint"
  ></alk-job-list>
</aui-card>

<aui-card>
  <div auiCardHeader>{{ 'cronjob.completed_jobs' | translate }}</div>

  <alk-job-list
    *ngIf="podCompletedJobEndpoint"
    [endpoint]="podCompletedJobEndpoint"
  ></alk-job-list>
</aui-card>
