<aui-dialog-header>
  {{ (data.item ? 'update' : 'create') | translate }} {{
  'namespace.limit_range_item' | translate }}
</aui-dialog-header>

<form #form="ngForm">
  <aui-dialog-content>
    <alk-limit-range-list-item-form
      name="item"
      [excludedItems]="excludedItems"
      [(ngModel)]="limitRangeListItem"
    >
    </alk-limit-range-list-item-form>
  </aui-dialog-content>

  <aui-dialog-footer>
    <div>
      <button
        aui-button="primary"
        [disabled]="!form.valid"
        (click)="form.valid && onConfirm()"
      >
        {{ 'confirm' | translate }}
      </button>
      <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
    </div>
  </aui-dialog-footer>
</form>
