<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-card>
    <div auiCardHeader>
      {{ (updateMode ? 'update' : 'create' ) | translate }} {{ 'service' |
      translate }}
    </div>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel> {{ 'namespace' | translate }} </label>
      <aui-select
        auiFormItemControl
        [loading]="!(namespaces$ | async)"
        (blur)="onBlur()"
        required
        formControlName="namespace"
      >
        <aui-option
          *ngFor="let namespace of namespaces$ | async"
          [value]="namespace"
        >
          {{ namespace }}
        </aui-option>
      </aui-select>
    </aui-form-item>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel> {{ 'name' | translate }} </label>
      <input
        auiFormItemControl
        aui-input
        required
        [placeholder]="'name_placeholder' | translate"
        (blur)="onBlur()"
        formControlName="name"
      />
      <div auiFormItemError>
        <ng-container *ngIf="form.get('metadata.name').errors?.required">
          {{ 'required' | translate }}
        </ng-container>
        <ng-container *ngIf="form.get('metadata.name').errors?.pattern">
          {{ 'name_placeholder' | translate }}
        </ng-container>
      </div>
    </aui-form-item>

    <aui-form-item formGroupName="spec">
      <label auiFormItemLabel> {{ 'type' | translate }} </label>
      <aui-select
        (blur)="onBlur()"
        required
        auiFormItemControl
        formControlName="type"
      >
        <aui-option *ngFor="let type of originTypes" [value]="type"
          >{{ type }}</aui-option
        >
      </aui-select>
    </aui-form-item>

    <ng-container *ngIf="curServiceType !== 'ExternalName'">
      <!-- 这个field不写入表单，只决定ui交互，所以standalone -->
      <aui-form-item>
        <label auiFormItemLabel> {{ 'service.ClusterIP' | translate }} </label>
        <aui-radio-group
          [(ngModel)]="clusterIPType"
          [ngModelOptions]="{standalone: true}"
          (ngModelChange)="CluterIPTypeChange($event)"
        >
          <aui-radio-button *ngFor="let type of clusterIPTypes" [value]="type"
            >{{ type | translate }}</aui-radio-button
          >
        </aui-radio-group>
      </aui-form-item>

      <aui-form-item formGroupName="spec" [hidden]="clusterIPType !== 'manual'">
        <label auiFormItemLabel> {{ 'ip_address' | translate }} </label>
        <input
          auiFormItemControl
          aui-input
          [required]="clusterIPType === 'manual'"
          (blur)="onBlur()"
          formControlName="clusterIP"
        />
      </aui-form-item>
    </ng-container>

    <aui-form-item
      formGroupName="spec"
      *ngIf="curServiceType === 'ExternalName'"
    >
      <label auiFormItemLabel> {{ 'ExternalName' | translate }} </label>
      <input
        auiFormItemControl
        aui-input
        required
        (blur)="onBlur()"
        formControlName="externalName"
      />
    </aui-form-item>

    <aui-form-item
      formGroupName="spec"
      *ngIf="curServiceType !== 'ExternalName'"
    >
      <label auiFormItemLabel>
        {{ 'service.sessionAffinity' | translate }}
      </label>
      <aui-radio-group
        (blur)="onBlur()"
        auiFormItemControl
        formControlName="sessionAffinity"
      >
        <aui-radio-button
          *ngFor="let type of ['None', 'ClientIP']"
          [value]="type"
          >{{ type | translate }}</aui-radio-button
        >
      </aui-radio-group>
    </aui-form-item>

    <aui-form-item
      formGroupName="spec"
      *ngIf="curServiceType === 'LoadBalancer'"
    >
      <label auiFormItemLabel>
        {{ 'service.loadBalancerIP' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        required
        (blur)="onBlur()"
        formControlName="loadBalancerIP"
      />
    </aui-form-item>

    <aui-form-item
      formGroupName="spec"
      *ngIf="curServiceType !== 'ExternalName'"
    >
      <label auiFormItemLabel> {{ 'service.ports_config' | translate }} </label>
      <alk-ports-item-form
        (blur)="onBlur()"
        [clusterIP]="curServiceType === 'ClusterIP'"
        auiFormItemControl
        formControlName="ports"
      ></alk-ports-item-form>
    </aui-form-item>

    <aui-form-item
      formGroupName="spec"
      *ngIf="curServiceType !== 'ExternalName'"
    >
      <label auiFormItemLabel> {{ 'selectors' | translate }} </label>

      <alk-key-value-form-table
        auiFormItemControl
        (blur)="onBlur()"
        formControlName="selector"
      >
      </alk-key-value-form-table>
    </aui-form-item>

    <alk-foldable-block text="more" formGroupName="metadata">
      <aui-form-item>
        <label auiFormItemLabel> {{ 'labels' | translate }} </label>

        <alk-key-value-form-table
          auiFormItemControl
          (blur)="onBlur()"
          formControlName="labels"
        >
        </alk-key-value-form-table>
      </aui-form-item>

      <aui-form-item>
        <label auiFormItemLabel> {{ 'annotations' | translate }} </label>

        <alk-key-value-form-table
          auiFormItemControl
          (blur)="onBlur()"
          formControlName="annotations"
        >
        </alk-key-value-form-table>
      </aui-form-item>
    </alk-foldable-block>
  </aui-card>
</form>
