:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.workload-pie-chart {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &__arc-path {
    cursor: pointer;
    &.active {
      opacity: 0.6;
    }
  }
}

.workload-pie-legend-container {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
  padding-right: 20px;
}

.workload-pie-legend {
  display: flex;
  align-items: center;
  max-width: 180px;
  &__type {
    font-size: 14px;
  }

  &__spacer {
    flex: 1;
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &__count {
    font-size: 18px;
  }

  &__type-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 4px;
  }
}
