@import '../../../shared/_var.scss';

svg {
  overflow: visible;
}

path.text-link {
  stroke-width: 1;
  stroke: #000;
  fill: none;
}

path.arc-path {
  cursor: pointer;
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.6;
  }
}

.status-gauge-status-hint {
  display: flex;
  align-items: center;
  color: #999999;
  margin-bottom: 8px;

  &__item {
    margin-right: 12px;
  }
}

.status-gauge-container {
  display: flex;
  align-items: stretch;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
  width: 100%;
  background-color: #eeeeee;
  &__item {
    cursor: pointer;
    transition: opacity 0.1s;
    &:hover {
      opacity: 0.8;
    }

    &--success {
      background-color: $color-success;
    }

    &--running {
      background-color: $color-running;
    }

    &--error {
      background-color: $color-error;
    }

    &--pending {
      background-color: $color-primary;
    }

    &--unknown {
      background-color: $color-info;
    }

    &--bound {
      background-color: $color-primary;
    }

    &--warning {
      background-color: $color-warning;
    }
  }
}

.status-gauge-tooltip {
  display: flex;
  align-items: center;
  padding: 4px;

  &__label {
    margin-left: 6px;
    font-size: 12px;
  }
}
