<svg [attr.width]="width" [attr.height]="height">
  <svg:g [attr.transform]="transform">
    <!-- Texts and Links -->
    <svg:g
      *ngFor="let arc of arcs; trackBy: trackByFn;"
      [auiTooltip]="statusTooltip"
      [auiTooltipContext]="{ arc: arc }"
    >
      <svg:path
        [attr.d]="arc.path"
        [attr.fill]="arc.color"
        class="arc-path"
      ></svg:path>

      <svg:path class="text-link" [attr.d]="arc.textLink.d"></svg:path>
      <svg:text
        class="link-text"
        [attr.dx]="arc.textLink.end.x"
        [attr.dy]="arc.textLink.end.y"
        [attr.text-anchor]="arc.textLink.textAnchor"
      >
        {{ arc.label }}: {{ arc.fraction }}%
      </svg:text>
    </svg:g>
  </svg:g>
</svg>

<ng-template #statusTooltip let-arc="arc">
  <div class="status-gauge-tooltip">
    <alk-status-icon [status]="arc.status"></alk-status-icon>
    <div class="status-gauge-tooltip__label">
      {{ arc.label }}: {{ arc.value }}
    </div>
  </div>
</ng-template>
