<aui-table [dataSource]="conditions">
  <ng-container [auiTableColumnDef]="'condition_type'">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'type' | translate }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let condition">
      <ng-container *ngIf="condition.type">{{ condition.type }}</ng-container>
      <ng-container *ngIf="!condition.type">-</ng-container>
    </aui-table-cell>
  </ng-container>
  <ng-container [auiTableColumnDef]="'status'">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'status' | translate }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let condition">
      <ng-container *ngIf="condition.status"
        >{{ condition.status }}</ng-container
      >
      <ng-container *ngIf="!condition.status">-</ng-container>
    </aui-table-cell>
  </ng-container>
  <ng-container *ngIf="kind=='Pod'" [auiTableColumnDef]="'lastProbeTime'">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'last_probe_time' | translate }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let condition">
      <alk-time [timestamp]="condition.lastProbeTime"></alk-time>
    </aui-table-cell>
  </ng-container>
  <ng-container [auiTableColumnDef]="'lastTransitionTime'">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'last_transition_time' | translate }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let condition">
      <alk-time [timestamp]="condition.lastTransitionTime"></alk-time>
    </aui-table-cell>
  </ng-container>
  <ng-container [auiTableColumnDef]="'reason'">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'reason' | translate }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let condition">
      <ng-container *ngIf="condition.reason"
        >{{ condition.reason }}</ng-container
      >
      <ng-container *ngIf="!condition.reason">-</ng-container>
    </aui-table-cell>
  </ng-container>
  <ng-container [auiTableColumnDef]="'message'">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'message' | translate }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let condition">
      <ng-container *ngIf="condition.message"
        >{{ condition.message }}</ng-container
      >
      <ng-container *ngIf="!condition.message">-</ng-container>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
</aui-table>
<alk-zero-state
  *ngIf="showZeroState"
  resourceName="conditions"
></alk-zero-state>
