<div *ngIf="podStatusToPod"
     class="pod-controller-status"
     [auiTooltipPosition]="tooltipPosition"
     [auiTooltip]="podControllerInfoTemplate">
  <div class="pod-controller-status-label">
    {{running}} / {{desired}}
  </div>

  <div class="pod-controller-status-gauge">
    <aui-status-bar [status]="podStatusRef"
                    size="small"></aui-status-bar>
  </div>
</div>

<ng-template #podControllerInfoTemplate>
  <div class="pod-controller-info-tooltip" *ngIf="total">
    <div *ngIf="podControllerInfo.warnings.length > 0"
         class="pod-controller-info-tooltip__section">
      <div class="pod-controller-info-tooltip__header">
        {{ 'events' | translate }}
      </div>

      <div
        *ngFor="let warning of podControllerInfo.warnings"
        class="pod-controller-info-tooltip__info-item"
      >
        <div class="status-dot status-dot--error"></div>
        <div class="pod-controller-info-tooltip__info-item-message">
          {{ warning.message }}
        </div>
      </div>
    </div>

    <ng-container *ngFor="let status of POD_STATUSES">
      <div *ngIf="tooltipStatusShow(status)"
           class="pod-controller-info-tooltip__section">
        <div class="pod-controller-info-tooltip__header">
          <alk-status-icon [status]="status === 'notYetCreated' ? GenericStatus.Null : getPodStatusIcon(status)"></alk-status-icon>
          {{ status | lowercase | translate }}:
          {{ (podStatusToPod[status] && podStatusToPod[status].length) || notYetCreatedPods }}
        </div>

        <div
          *ngFor="let podInfoItem of podStatusToPod[status]"
          class="pod-controller-info-tooltip__info-item"
        >
          <div
            class="status-dot"
            [ngClass]="'status-dot--' + getPodStatusIcon(status)"
          ></div>

          <div class="pod-controller-info-tooltip__info-item-message">
            <div>{{ podInfoItem.name }}</div>
            <ng-container
              *ngIf="['Pending', 'Failed'].includes(podInfoItem.status) && podInfoItem.warnings.length > 0"
            >
              <div *ngFor="let warning of podInfoItem.warnings">
                {{ warning.message }}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="pod-controller-info-tooltip" *ngIf="!total">
    <alk-status-icon [status]="'stopped'"></alk-status-icon>
    {{ 'stopped' | translate }}
  </div>
</ng-template>
