:host::ng-deep {
  .aui-card {
    &__content {
      margin-top: 16px;
      .replicas {
        .aui-input-group {
          &__addon {
            padding: 0;
            border: none;
          }
          .aui-input {
            border-left: none;
            border-right: none;
          }
        }
      }
    }
  }
}
