:host {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
}

.usage-bar-container {
  border: 1px solid;
  flex: 1;
  height: 10px;
  &__bar {
    height: 100%;
  }
}

.usage-bar-percentage-number {
  width: 48px;
  margin-left: 4px;
  font-size: 12px;
  white-space: nowrap;
}
