:host {
  cursor: default;
  display: inline-flex;
}

span {
  display: flex;
  align-items: center;
}

.warning-line:not(:last-child) {
  margin-bottom: 8px;
}

alk-status-icon {
  margin-right: 4px;
}
