<span
  [auiTooltip]="warningTemplate"
  [auiTooltipType]="tooltipType"
  [auiTooltipDisabled]="!warnings.length"
  *ngIf="pod"
>
  <alk-status-icon [status]="iconStatus"> </alk-status-icon>
  {{ status | translate }}
</span>

<ng-template #warningTemplate>
  <div *ngFor="let warning of warnings" class="warning-line">{{ warning }}</div>
</ng-template>
