@import '../../shared/var';
@import '../../shared/mixins';

.pod-spec-container-tabs {
  border: $default-border;
}

.pod-spec-container-tab-content {
  padding: 20px;
  ::ng-deep .aui-form-item {
    margin-left: -20px;
  }
}

.pod-spec-container-tab-label {
  display: inline-flex;
  align-items: center;
  alk-status-icon {
    margin-right: 4px;
    flex-shrink: 0;
  }

  &__content {
    @include text-overflow();
    max-width: 130px;
  }

  &--no-name {
    font-style: italic;
  }
}

aui-multi-select {
  flex: 1;
}
