<div class="account-menu">
  <div
    class="account-menu__content"
    [auiDropdown]="menu"
    auiDropdownActive="action-button__active"
  >
    <aui-icon
      icon="basic:account_circle_s"
      class="account-menu__icon"
    ></aui-icon>
    <div class="account-menu__display">{{ displayName$ | async }}</div>
    <aui-icon
      icon="angle_down"
      style="font-size: 12px; margin-left: 2px;"
    ></aui-icon>
  </div>
</div>

<aui-menu #menu>
  <aui-menu-item
    class="account-menu__item"
    *ngIf="(auth.state$ | async)?.portalHost"
    (click)="toPortal()"
    ><aui-icon icon="basic:setting_home"></aui-icon
    >{{ 'platform_center' | translate }}</aui-menu-item
  >
  <aui-menu-item class="account-menu__item" (click)="toggleLang()"
    ><aui-icon
      [icon]="
        currentLang === 'zh'
          ? 'basic:switch_to_english'
          : 'basic:switch_to_chinese'
      "
    ></aui-icon
    >{{ 'toggle_language' | translate }}</aui-menu-item
  >
  <aui-menu-item
    class="account-menu__item"
    *ngIf="!appConfig.anounymousEnabled"
    divide="true"
    (click)="logOut()"
    ><aui-icon icon="basic:sign_out_s"></aui-icon
    >{{ 'logout' | translate }}</aui-menu-item
  >
</aui-menu>
