@import '../../shared/var';
@import '../../shared/mixins';

:host {
  position: relative;
}

.account-menu {
  display: flex;
  border-radius: 2px;
  align-items: center;
  color: #fff;
  &__item {
    aui-icon {
      margin-right: 8px;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 28px;
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.isActive {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  &__icon {
    font-size: 16px;
    width: 20px;
    height: 20px;
    margin-right: 0;
  }
  &__display {
    max-width: 175px;
    @include text-overflow();
  }
}
