<ng-container *alkPageHeaderContent>
  <alk-default-breadcrumb>
    <div
      style="max-width: 224px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
      [title]="(detail$ | async)?.name"
      *alkBreadcrumbItem
    >
      {{ (detail$ | async)?.name }}
    </div>
  </alk-default-breadcrumb>
  <div fxFlex></div>
</ng-container>

<aui-card>
  <div auiCardHeader>{{ 'basic_info' | translate }}</div>
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'name' | translate }}</div>
        <div class="alk-basic-info-field__content">
          {{ (detail$ | async)?.name }}
        </div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'email' | translate }}</div>
        <div class="alk-basic-info-field__content">
          {{ (detail$ | async)?.email }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'administrator.is_admin' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ ((detail$ | async)?.is_admin ? 'yes' : 'no') | translate }}
        </div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'group' | translate }}</div>
        <div class="alk-basic-info-field__content">
          {{ (detail$ | async)?.groups || '-' }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'roles' | translate }}</div>
        <div class="alk-basic-info-field__content">
          <span *ngFor="let role of (detail$ | async)?.roles; index as index"
            >{{ role.name
            }}<span *ngIf="index < (detail$ | async)?.roles.length - 1"
              >,&nbsp;</span
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</aui-card>
