<aui-menu #menu>
  <aui-menu-item *ngIf="actions.includes('update')" (click)="goToUpdatePage()"
    >{{ 'update' | translate }}</aui-menu-item
  >
  <aui-menu-item
    *ngIf="actions.includes('roll_back_to')"
    (click)="goToRollbackPage()"
    >{{ 'roll_back_to' | translate }}</aui-menu-item
  >
  <aui-menu-item
    *ngIf="actions.includes('update_labels')"
    (click)="showUpdateLabels()"
    >{{ 'update_labels' | translate }}</aui-menu-item
  >
  <aui-menu-item
    *ngIf="actions.includes('update_annotations')"
    (click)="showUpdateAnnotations()"
    >{{ 'update_annotations' | translate }}</aui-menu-item
  >
  <aui-menu-item
    *ngIf="actions.includes('delete')"
    (click)="doDelete()"
    type="danger"
  >
    {{ 'delete' | translate }}
  </aui-menu-item>
</aui-menu>
