<aui-card>
  <div auiCardHeader>{{ 'basic_info' | translate }}</div>
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'name' | translate }}</div>
        <div class="alk-basic-info-field__content">
          {{ detail?.objectMeta.name }}
        </div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'storageclass.default' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ 'storageclass.' + detail?.isDefault | translate }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'labels' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-resource-labels-field
            (updated)="updated.emit($event)"
            [resource]="detail"
          >
          </alk-resource-labels-field>
        </div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'annotations' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-resource-annotations-field
            (updated)="updated.emit($event)"
            [resource]="detail"
          >
          </alk-resource-annotations-field>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'storageclass.provisioner' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ detail?.provisioner }}
        </div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'type' | translate }}</div>
        <div class="alk-basic-info-field__content">
          {{ detail?.parameters?.type || '-' }}
        </div>
      </div>
    </div>
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'storageclass.reclaimPolicy' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ detail?.reclaimPolicy }}
        </div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'created_at' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-time
            [timestamp]="detail?.objectMeta.creationTimestamp"
            mode="absolute"
          ></alk-time>
        </div>
      </div>
    </div>
  </div>
</aui-card>
<aui-card>
  <div auiCardHeader>{{ 'persistentvolumeclaims' | translate }}</div>
  <alk-ref-pvc-list
    [kind]="'PVC'"
    [showNamespace]="true"
    [list]="detail?.persistentVolumeClaimList?.items"
  >
  </alk-ref-pvc-list>
</aui-card>
<aui-card>
  <div auiCardHeader>{{ 'persistentvolumes' | translate }}</div>
  <alk-ref-pv-list [kind]="'PV'" [list]="detail?.persistentVolumeList?.items">
  </alk-ref-pv-list>
</aui-card>
