<aui-code-editor
  *ngIf="mode === EditorModes.Update"
  [originalValue]="yaml"
  [(ngModel)]="yamlModel"
  [actionsConfig]="actionsConfigUpdate"
  [options]="editorOptionsUpdate"
>
</aui-code-editor>
<aui-code-editor
  *ngIf="mode === EditorModes.Compare"
  [diffMode]="true"
  [originalValue]="yaml"
  [ngModel]="yamlModel"
  [actionsConfig]="actionsConfigCompare"
  [options]="editorOptions"
>
</aui-code-editor>
<aui-code-editor
  *ngIf="mode === EditorModes.View"
  [ngModel]="yaml"
  [actionsConfig]="actionsConfigView"
  [options]="editorOptions"
>
</aui-code-editor>

<div *ngIf="mode === EditorModes.Update" class="yaml-editor-update-buttons">
  <button aui-button="primary" [disabled]="updating" (click)="updateResource()">
    {{ 'update' | translate }}
  </button>
  <button
    (click)="changeMode(EditorModes.View)"
    [disabled]="updating"
    aui-button
  >
    {{ 'cancel' | translate }}
  </button>
</div>
