<aui-menu #menu>
  <aui-search
    hidden
    [placeholder]="'search_by_name' | translate"
    (click)="$event.stopPropagation()"
  ></aui-search>

  <ng-container *ngIf="logSources && logSources.podNames.length">
    <ng-container *ngFor="let pod of logSources.podNames">
      <div class="container-selector-menu__pod-name">{{ pod }}</div>
      <aui-menu-item
        *ngFor="let container of logSources.containerNames"
        (click)="onContainerSelected(pod, container)"
        >{{ container }}</aui-menu-item
      >
    </ng-container>
  </ng-container>

  <div class="no-pod-hint" *ngIf="!logSources || !logSources.podNames.length">
    {{ 'zero_state_hint' | translate: { resourceName: ('pods' | translate) } }}
  </div>
</aui-menu>
