:host {
  flex: 1;
  width: 100%;
  ::ng-deep {
    .env-name {
      display: flex;
      .aui-input {
        flex: 15;
      }
      aui-icon {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
      }
    }
    textarea.aui-input--small {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 28px;
      height: 28px;
    }
  }
}
