<alk-array-form-table
  resourceName="env"
  [noRowSeparator]="true"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  (remove)="remove($event)"
  [formGroup]="form"
  [rows]="form.controls"
  [trackBy]="trackByFn"
>
  <ng-container *alkArrayFormTableHeader>
    <th width="33%">
      {{ 'name' | translate }}
      <aui-icon
        icon="basic:question"
        [auiTooltip]="'pod_spec_form.env_name_help_info' | translate"
        style="color: #999; margin-left: 4px;"
      ></aui-icon>
    </th>
    <th width="66%" colspan="2">{{ 'value' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container
    *alkArrayFormTableRow="let control; let index = index"
    [formGroupName]="index"
  >
    <td class="env-name">
      <input
        (blur)="onBlur()"
        placeholder="{{ 'name' | translate }}"
        aui-input
        formControlName="name"
      />
    </td>

    <ng-container [ngSwitch]="envVarViewMode(control.value)">
      <!-- Value only mode -->
      <td colspan="2" *ngSwitchCase="'value'">
        <textarea
          (blur)="onBlur()"
          aui-input
          placeholder="{{ 'value' | translate }}"
          formControlName="value"
          size="small"
          [autosize]="{ minRows: 1, maxRows: 3 }"
        ></textarea>
      </td>

      <!-- yaml mode -->
      <td colspan="2" *ngSwitchCase="'yaml'">
        <pre
          ngCodeColorize="yaml"
          [innerHTML]="getYaml(control.get('valueFrom').value)"
        ></pre>
      </td>

      <!-- valueFrom (ref key) mode -->
      <ng-container *ngSwitchCase="'valueFrom'">
        <td>
          <aui-select
            required
            (blur)="onBlur()"
            auiFormItemControl
            size="small"
            [filterable]="true"
            [filterFn]="refObjFilterFn"
            [trackFn]="refObjTrackByFn"
            [loading]="!(configMaps$ | async) || !(secrets$ | async)"
            formControlName="refObj"
            (valueChange)="valueFromModeChange(control.get('refObjKey'))"
          >
            <aui-option-group *ngIf="(configMaps$ | async)?.length > 0">
              <div auiOptionGroupTitle>{{ 'configmap' | translate }}</div>
              <aui-option
                *ngFor="let configMap of (configMaps$ | async)"
                [value]="getRefObj(configMap)"
              >
                {{ configMap.objectMeta.name }}
              </aui-option>
            </aui-option-group>

            <aui-option-group *ngIf="(secrets$ | async)?.length > 0">
              <div auiOptionGroupTitle>{{ 'secret' | translate }}</div>
              <aui-option
                *ngFor="let secret of (secrets$ | async)"
                [value]="getRefObj(secret)"
              >
                {{ secret.objectMeta.name }}
              </aui-option>
            </aui-option-group>

            <aui-option-group>
              <div auiOptionGroupTitle>Downward API</div>
              <aui-option
                *ngFor="
                  let obj of [
                    { name: 'FieldRef', kind: 'FieldRef' },
                    { name: 'ResourceFieldRef', kind: 'ResourceFieldRef' }
                  ]
                "
                [value]="obj"
              >
                {{ obj.kind }}
              </aui-option>
            </aui-option-group>
            <aui-option-placeholder
              >{{ 'no_data_hint' | translate }}</aui-option-placeholder
            >
          </aui-select>
        </td>
        <td>
          <aui-select
            required
            size="small"
            (blur)="onBlur()"
            auiFormItemControl
            [filterable]="true"
            formControlName="refObjKey"
          >
            <aui-option
              *ngFor="let key of (getRefObjKeys(control) | async)"
              [value]="key"
            >
              {{ key }}
            </aui-option>
            <aui-option-placeholder
              >{{ 'no_data_hint' | translate }}</aui-option-placeholder
            >
          </aui-select>
        </td>
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- Input error row -->
  <ng-container *alkArrayFormTableRow="let control; let index = index">
    <td *ngIf="control.invalid" colspan="4" class="alk-table-form-error-hint">
      <ng-container *ngIf="control.errors?.keyIsMissing">
        {{ 'key_is_missing_error_message' | translate }}
      </ng-container>

      <ng-container *ngIf="control.errors?.duplicateKey">
        {{ 'duplicate_key_error_message' | translate: { key:
        control?.errors?.duplicateKey } }}
      </ng-container>

      <ng-container *ngIf="control.errors?.patternError">
        {{ 'pod_spec_form.env_name_help_info' | translate }}
      </ng-container>
    </td>
  </ng-container>

  <!-- Row controls -->
  <ng-container *alkArrayFormTableFooter>
    <button
      aui-button="primary"
      style="font-size: 14px;"
      size="mini"
      [plain]="true"
      (click)="add(length, false)"
    >
      <aui-icon icon="basic:add_circle"> </aui-icon>
      {{ 'add' | translate }}
    </button>
    <button
      aui-button
      size="mini"
      style="font-size: 14px;"
      [plain]="true"
      (click)="add(length, true)"
    >
      <aui-icon icon="basic:add_circle"> </aui-icon>
      {{ 'add_reference' | translate }}
    </button>
  </ng-container>
</alk-array-form-table>
