:host {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.no-data-hint {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: #ccc;

  a {
    margin-left: 4px;
  }
}
