<alk-array-form-table
  resourceName="pod_spec_form.volume_mounts"
  [noRowSeparator]="true"
  (remove)="remove($event)"
  [formGroup]="form"
  [rows]="form.controls"
>
  <ng-container *alkArrayFormTableHeader>
    <th width="25%" required>{{ 'pod_spec_form.volume_name' | translate }}</th>
    <th width="30%">{{ 'pod_spec_form.sub_path' | translate }}</th>
    <th width="30%" required>{{ 'pod_spec_form.mount_path' | translate }}</th>
    <th width="10%">{{ 'readonly' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container
    *alkArrayFormTableRow="let control; let index = index"
    [formGroupName]="index"
  >
    <td>
      <aui-select (blur)="onBlur()" required formControlName="name">
        <aui-option *ngFor="let volume of volumes" [value]="volume.name">
          {{ volume.name }}
        </aui-option>
      </aui-select>
    </td>

    <td><input (blur)="onBlur()" aui-input formControlName="subPath" /></td>

    <td>
      <input (blur)="onBlur()" aui-input required formControlName="mountPath" />
    </td>

    <td>
      <aui-switch (blur)="onBlur()" formControlName="readOnly"> </aui-switch>
    </td>
  </ng-container>

  <!-- Row controls -->
  <ng-container *alkArrayFormTableFooter>
    <button
      aui-button="primary"
      class="add-button"
      size="small"
      [disabled]="noVolumes"
      [plain]="true"
      (click)="add(form.length)"
    >
      <aui-icon icon="basic:add_circle"> </aui-icon>
      {{ 'pod_spec_form.add_mount_path' | translate }}
    </button>
  </ng-container>

  <!-- 无数据模板 -->
  <ng-container *alkArrayFormTableZeroState>
    <div class="no-data-hint" *ngIf="noVolumes; else elseTemplate">
      {{ 'pod_spec_form.mount_path_no_volumes_hint' | translate }}
      <a *ngIf="volumesForm" (click)="volumesForm.addVolume()"
        >{{ 'pod_spec_form.add_volume' | translate }}</a
      >
    </div>
    <ng-template #elseTemplate>
      <alk-zero-state
        resourceName="pod_spec_form.volume_mounts"
      ></alk-zero-state>
    </ng-template>
  </ng-container>
</alk-array-form-table>
