$label-height: 28px;
$label-weight: 64px;

.mode-selector {
  height: $label-height;
  display: flex;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
  .aui-button {
    width: $label-weight;
  }
}
