<div class="mode-selector" [attr.selected-index]="selectedIndex">
  <aui-button-group>
    <button
      *ngFor="let mode of modes; let index = index"
      aui-button="primary"
      size="small"
      [plain]="selectedIndex !== index"
      [attr.value]="mode"
      (click)="modeClicked(mode)"
      style="margin-left: 0;"
    >
      {{ mode | translate }}
    </button>
  </aui-button-group>
</div>
