<alk-array-form-table
  [formGroup]="form"
  [noRowSeparator]="true"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
>
  <ng-container *alkArrayFormTableHeader>
    <th width="33%">{{ 'key' | translate }}</th>
    <th width="66%">{{ 'value' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container
    *alkArrayFormTableRow="let control; let index = index"
    [formGroupName]="index"
  >
    <td>
      <input (blur)="onBlur()" aui-input maxlength="63" formControlName="0" />
    </td>

    <td><input (blur)="onBlur()" aui-input formControlName="1" /></td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *alkArrayFormTableRow="let control">
    <td *ngIf="control.invalid" colspan="3" class="alk-table-form-error-hint">
      <ng-container *ngIf="control.errors?.keyIsMissing">
        {{ 'key_is_missing_error_message' | translate }}
      </ng-container>

      <ng-container *ngIf="control.errors?.duplicateKey">
        {{ 'duplicate_key_error_message' | translate: { key:
        control?.errors?.duplicateKey } }}
      </ng-container>
    </td>
  </ng-container>
</alk-array-form-table>
