<aui-dialog-header
  >{{ 'roll_back_to_title' | translate: { version:
  resource.objectMeta.creationTimestamp | alkTime } }}</aui-dialog-header
>

<aui-dialog-content>
  <alk-resource-yaml-editor
    mode="compare"
    [resourceDetail]="curData"
    [newData]="newData"
  >
  </alk-resource-yaml-editor>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button="primary" (click)="onConfirm()">
      {{ 'roll_back' | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
