<aui-card>
  <div auiCardHeader>{{ 'administrator.create_rolebinding' | translate }}</div>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      aui-input
      type="text"
      required
      [(ngModel)]="data.metadata.name"
      (ngModelChange)="onNameChange($event)"
    />
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
    <input
      aui-input
      type="text"
      [(ngModel)]="data.metadata.annotations.displayName"
    />
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'description' | translate }}</label>
    <textarea
      aui-input
      [(ngModel)]="data.metadata.annotations.description"
    ></textarea>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{
      'administrator.role-bindings_type' | translate
    }}</label>
    <aui-radio-group
      required
      name="type"
      [(ngModel)]="roleType"
      (ngModelChange)="onRoleTypeChange($event)"
    >
      <aui-radio value="Role">{{ 'administrator.Role' | translate }}</aui-radio>
      <aui-radio value="ClusterRole">{{
        'administrator.ClusterRole' | translate
      }}</aui-radio>
    </aui-radio-group>
  </aui-form-item>
  <aui-form-item *ngIf="roleType === 'Role'">
    <label auiFormItemLabel>{{ 'namespace' | translate }}</label>
    <aui-select
      required
      [placeholder]="'administrator.select_namespace_placeholder' | translate"
      [(ngModel)]="data.metadata.namespace"
      (ngModelChange)="onNamespaceChange($event)"
    >
      <aui-option
        *ngFor="let namespace of (namespaces$ | async)"
        [value]="namespace"
      >
        {{ namespace }}
      </aui-option>
    </aui-select>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{
      ('role' | translate) + ('name' | translate)
    }}</label>
    <aui-select
      style="margin-right: 8px;"
      #select
      required
      *ngIf="roleType === 'Role'"
      (valueChange)="select.writeValue($event); roleFilterChange($event)"
      [placeholder]="'administrator.select_role_type_placeholder' | translate"
    >
      <aui-option value="Role" [label]="'administrator.Role' | translate">
        {{ 'administrator.Role' | translate }}
      </aui-option>
      <aui-option
        value="ClusterRole"
        [label]="'administrator.ClusterRole' | translate"
      >
        {{ 'administrator.ClusterRole' | translate }}
      </aui-option>
    </aui-select>
    <aui-select
      [placeholder]="'administrator.select_role_placeholder' | translate"
      [(ngModel)]="data.roleRef.name"
      (ngModelChange)="onRoleChange($event)"
    >
      <aui-option
        *ngFor="let role of (roles$ | async)"
        [value]="role.objectMeta.name"
      >
        {{ role.objectMeta.name }}
      </aui-option>
    </aui-select>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'administrator.subjects' | translate }}</label>
    <alk-subjects-editor
      required
      [subjects]="data.subjects"
      (updated)="subjectsChange($event)"
    ></alk-subjects-editor>
  </aui-form-item>
  <hr />
  <div class="button-group">
    <button aui-button="primary" (click)="submit()">
      {{ 'create' | translate }}
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</aui-card>
