<aui-card>
  <div auiCardHeader>
    <div class="basic-info-header__label">{{ 'basic_info' | translate }}</div>
    <div class="basic-info-header__button">
      <button aui-button (click)="upadte(updateTemplateRef)">
        {{ 'update' | translate }}
      </button>
      <button aui-button (click)="delete()">{{ 'delete' | translate }}</button>
    </div>
  </div>
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'name' | translate }}</div>
        <div class="alk-basic-info-field__content">
          {{ detail?.objectMeta.name }}
        </div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'created_at' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-time
            [timestamp]="detail?.objectMeta.creationTimestamp"
            mode="absolute"
          ></alk-time>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'display_name' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ detail?.data.metadata.annotations?.displayName || '-' }}
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'creator' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ detail?.data.metadata.annotations?.createdBy || '-' }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'administrator.role-bindings_type' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ 'administrator.' + detail?.data.kind | translate }}
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'namespace' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ detail?.objectMeta.namespace || '-' }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'administrator.role_name' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <a *ngIf="detail" [routerLink]="getRoleDetailRoutes(detail)">{{
            detail?.data.roleRef.name
          }}</a>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field" style="width: 100%; max-width: 100%;">
        <div class="alk-basic-info-field__label" style="white-space: nowrap;">
          {{ 'description' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <div style="width: 100%; word-wrap: break-word;">
            {{ detail?.data.metadata.annotations?.description || '-' }}
          </div>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="basic-info-field">
        <div
          class="basic-info-field__label"
          style="line-height: 40px; white-space: nowrap;"
        >
          {{ 'administrator.subjects' | translate }}:
        </div>
        <div class="basic-info-field__content" style="width: 90%;">
          <aui-table [dataSource]="detail?.data.subjects">
            <ng-container [auiTableColumnDef]="columns[0]">
              <aui-table-header-cell *auiTableHeaderCellDef>{{
                'name' | translate
              }}</aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let item">
                {{ item.name }}
              </aui-table-cell>
            </ng-container>
            <ng-container [auiTableColumnDef]="columns[1]">
              <aui-table-header-cell *auiTableHeaderCellDef>{{
                'kind' | translate
              }}</aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let item">
                {{ item.kind }}
              </aui-table-cell>
            </ng-container>
            <ng-container [auiTableColumnDef]="columns[2]">
              <aui-table-header-cell *auiTableHeaderCellDef>{{
                'namespace' | translate
              }}</aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let item">
                {{ item.namespace || '-' }}
              </aui-table-cell>
            </ng-container>
            <aui-table-header-row
              *auiTableHeaderRowDef="columns"
            ></aui-table-header-row>
            <aui-table-row
              *auiTableRowDef="let row; columns: columns"
            ></aui-table-row>
          </aui-table>
        </div>
      </div>
    </div>
  </div>
</aui-card>

<ng-template #updateTemplateRef let-detail>
  <alk-role-bindings-update-dialog
    [detail]="detail"
    (confirmed)="onUpdate($event)"
  ></alk-role-bindings-update-dialog>
</ng-template>
