.basic-info-field {
  max-width: initial;
  width: 100%;
  display: flex;
  .basic-info-field__content {
    flex: 1;
    .aui-table {
      width: 100%;
    }
  }
}

:host ::ng-deep .aui-card__header {
  display: flex;
  .basic-info-header__label {
    flex: 1;
    align-self: center;
  }
}
