<ng-container *alkPageHeaderContent>
  <alk-default-breadcrumb>
    <div
      style="max-width: 224px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
      [title]="name$ | async"
      *alkBreadcrumbItem
    >
      {{ name$ | async }}
    </div>
  </alk-default-breadcrumb>
  <div fxFlex></div>
</ng-container>

<!-- basic info -->
<alk-role-bindings-detail-basic-info
  [detail]="detail$ | async"
></alk-role-bindings-detail-basic-info>
