<aui-card>
  <div auiCardHeader fxLayout class="alk-list-page-toolbar">
    <button
      aui-button="primary"
      routerLink="/administrator/role-bindings/create"
    >
      {{ 'administrator.create_rolebinding' | translate }}
    </button>
    <div fxFlex></div>
    <alk-search-input
      [searching]="searching"
      [value]="search$ | async"
      (search)="searchByName($event)"
    ></alk-search-input>
  </div>

  <aui-table
    auiSort
    [trackBy]="trackByFn"
    [active]="(sort$ | async).active"
    [direction]="(sort$ | async).direction"
    [dataSource]="list$"
    (sortChange)="sortData($event)"
  >
    <ng-container *ngFor="let column of columnDefs">
      <!--
        Non sortable only has a simple difference that it does not wrap the cellDef with aui-sort-header component
      -->
      <ng-container [auiTableColumnDef]="column.name">
        <ng-container *ngIf="column.sortable">
          <aui-table-header-cell *auiTableHeaderCellDef aui-sort-header>
            {{ column.label | translate }}
          </aui-table-header-cell>
        </ng-container>

        <ng-container *ngIf="!column.sortable">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ column.label | translate }}
          </aui-table-header-cell>
        </ng-container>

        <aui-table-cell *auiTableCellDef="let item">
          <ng-container [ngSwitch]="column.name">
            <div *ngSwitchCase="'name'">
              <a [routerLink]="getDetailRoutes(item)">{{ item.name }}</a
              ><br />
              <alk-tags-label
                [tagList]="[
                  'administrator.' + getCellValue(item, 'kind') | translate
                ]"
              ></alk-tags-label>
            </div>

            <ng-container *ngSwitchDefault>
              {{ getCellValue(item, column.name) || '-' }}
            </ng-container>

            <div *ngSwitchCase="'role_name'">
              <a [routerLink]="getRoleDetailRoutes(item)">{{
                item.roleRef.name
              }}</a>
            </div>

            <div *ngSwitchCase="'sbname'">
              {{ getSubjectsName(item.subjects) }}
            </div>

            <alk-time
              *ngSwitchCase="'creationTimestamp'"
              [timestamp]="getCellValue(item, column.name)"
            >
            </alk-time>

            <div
              *ngSwitchCase="'action'"
              [auiDropdown]="menu"
              auiDropdownActive="action-button__active"
              class="action-button"
            >
              <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
            </div>
            <aui-menu #menu>
              <aui-menu-item (click)="update(item, updateTemplateRef)">{{
                'update' | translate
              }}</aui-menu-item>
              <aui-menu-item (click)="delete(item)" type="danger">
                {{ 'delete' | translate }}
              </aui-menu-item>
            </aui-menu>

            <ng-template #updateTemplateRef let-detail>
              <alk-role-bindings-update-dialog
                [detail]="detail"
                (confirmed)="updated(item)"
              ></alk-role-bindings-update-dialog>
            </ng-template>
          </ng-container>
        </aui-table-cell>
      </ng-container>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="(columns$ | async)"
    ></aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="let row; columns: (columns$ | async)"
    ></aui-table-row>
  </aui-table>
  <alk-zero-state
    *ngIf="showZeroState"
    resourceName="rolebinding"
  ></alk-zero-state>

  <aui-paginator
    [length]="(listMeta$ | async)?.totalItems"
    [pageSize]="(pageParams$ | async)?.pageSize"
    [pageIndex]="(pageParams$ | async)?.pageIndex"
    (currentPageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
    [pageSizeOptions]="[10, 20, 50, 100]"
  >
  </aui-paginator>
</aui-card>
