<aui-card>
  <div auiCardHeader>{{ 'administrator.update_rolebinding' | translate }}</div>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <div style="word-break: break-all; line-height: 32px;">
      {{ detail.data.metadata.name }}
    </div>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
    <input
      aui-input
      type="text"
      [(ngModel)]="detail.data.metadata.annotations.displayName"
    />
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'description' | translate }}</label>
    <textarea
      aui-input
      [(ngModel)]="detail.data.metadata.annotations.description"
    ></textarea>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{
      ('role-bindings' | translate) + ('type' | translate)
    }}</label>
    {{ 'administrator.' + detail.data.kind | translate }}
  </aui-form-item>
  <aui-form-item *ngIf="detail.data.kind === 'RoleBinding'">
    <label auiFormItemLabel>{{ 'namespace' | translate }}</label>
    {{ detail.objectMeta.namespace }}
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{
      ('role' | translate) + ('name' | translate)
    }}</label>
    {{ detail.data.roleRef.name }}
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'administrator.subjects' | translate }}</label>
    <alk-subjects-editor
      [subjects]="detail.data.subjects"
      (updated)="subjectsChange($event)"
    ></alk-subjects-editor>
  </aui-form-item>
  <hr />
  <div class="button-group">
    <button aui-button="primary" (click)="submit()">
      {{ 'update' | translate }}
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</aui-card>
