<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-card>
    <div auiCardHeader>
      {{ (updateMode ? 'update' : 'create') | translate }} {{ 'secret' |
      translate }}
    </div>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel> {{ 'namespace' | translate }} </label>
      <aui-select
        auiFormItemControl
        [loading]="!(namespaces$ | async)"
        (blur)="onBlur()"
        required
        formControlName="namespace"
      >
        <aui-option
          *ngFor="let namespace of (namespaces$ | async)"
          [value]="namespace"
        >
          {{ namespace }}
        </aui-option>
      </aui-select>
    </aui-form-item>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel> {{ 'name' | translate }} </label>
      <input
        auiFormItemControl
        aui-input
        (blur)="onBlur()"
        formControlName="name"
      />
      <div auiFormItemError>
        <ng-container *ngIf="form.get('metadata.name').errors?.required">
          {{ 'required' | translate }}
        </ng-container>
        <ng-container *ngIf="form.get('metadata.name').errors?.pattern">
          {{ 'name_placeholder' | translate }}
        </ng-container>
      </div>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel> {{ 'type' | translate }} </label>
      <aui-select
        (blur)="onBlur()"
        [value]="'Opaque'"
        (valueChange)="typeChange()"
        auiFormItemControl
        formControlName="type"
      >
        <aui-option-group>
          <div auiOptionGroupTitle>K8S</div>
          <aui-option
            *ngFor="let type of originTypes"
            [label]="getTypeDisplayName(type)"
            [value]="type"
            >{{ getTypeDisplayName(type) }}</aui-option
          >
        </aui-option-group>
        <aui-option-group>
          <div auiOptionGroupTitle>{{ 'custom' | translate }}</div>
          <aui-option *ngFor="let type of customTypes" [value]="type"
            >{{ type }}</aui-option
          >
        </aui-option-group>
      </aui-select>
      <button
        style="margin-left: 8px;"
        aui-button
        (click)="addCustomType()"
        [disabled]="updateMode"
      >
        <aui-icon icon="basic:plus"></aui-icon> {{ 'custom' | translate }}
      </button>
    </aui-form-item>

    <ng-container [ngSwitch]="type">
      <ng-container *ngSwitchDefault>
        <aui-form-item>
          <label auiFormItemLabel> {{ 'data' | translate }} </label>
          <alk-key-value-form-list
            auiFormItemControl
            (blur)="onBlur()"
            formControlName="data"
          >
          </alk-key-value-form-list>
        </aui-form-item>
      </ng-container>

      <ng-container *ngSwitchCase="'kubernetes.io/tls'">
        <alk-tls-editor
          auiFormItemControl
          (blur)="onBlur()"
          formControlName="data"
        ></alk-tls-editor>
      </ng-container>

      <ng-container *ngSwitchCase="'kubernetes.io/dockercfg'">
        <alk-dockerconfig-editor
          auiFormItemControl
          [type]="'.dockercfg'"
          (blur)="onBlur()"
          formControlName="data"
        ></alk-dockerconfig-editor>
      </ng-container>
      <ng-container *ngSwitchCase="'kubernetes.io/dockerconfigjson'">
        <alk-dockerconfig-editor
          auiFormItemControl
          [type]="'.dockerconfigjson'"
          (blur)="onBlur()"
          formControlName="data"
        ></alk-dockerconfig-editor>
      </ng-container>

      <ng-container *ngSwitchCase="'kubernetes.io/basic-auth'">
        <alk-basic-auth-editor
          auiFormItemControl
          (blur)="onBlur()"
          formControlName="data"
        ></alk-basic-auth-editor>
      </ng-container>

      <ng-container *ngSwitchCase="'kubernetes.io/ssh-auth'">
        <alk-ssh-auth-editor
          auiFormItemControl
          (blur)="onBlur()"
          formControlName="data"
        ></alk-ssh-auth-editor>
      </ng-container>
    </ng-container>

    <alk-foldable-block text="more" formGroupName="metadata">
      <aui-form-item>
        <label auiFormItemLabel> {{ 'labels' | translate }} </label>

        <alk-key-value-form-table
          auiFormItemControl
          (blur)="onBlur()"
          formControlName="labels"
        >
        </alk-key-value-form-table>
      </aui-form-item>

      <aui-form-item>
        <label auiFormItemLabel> {{ 'annotations' | translate }} </label>

        <alk-key-value-form-table
          auiFormItemControl
          (blur)="onBlur()"
          formControlName="annotations"
        >
        </alk-key-value-form-table>
      </aui-form-item>
    </alk-foldable-block>
  </aui-card>
</form>
