<div>
  <div *ngFor="let endpoint of endpoints">
    <div *ngFor="let port of endpoint.ports">
      <div class="external-endpoint">
        <a href="http://{{endpoint.host}}:{{port.port}}" target="_blank">
          {{endpoint.host}}:{{port.port}}
        </a>
      </div>
      <div *ngIf="!port.port" class="external-endpoint">
        <a href="http://{{endpoint.host}}:{{port.nodePort}}" target="_blank">
          {{endpoint.host}}:{{port.nodePort}}
        </a>
      </div>
    </div>
    <div *ngIf="!endpoint.ports.length" class="external-endpoint">
      <a href="http://{{endpoint.host}}" target="_blank"> {{endpoint.host}} </a>
    </div>
  </div>
  <div *ngIf="endpoints.length === 0">-</div>
</div>
