<aui-table [dataSource]="effectiveQuotas">
  <ng-container [auiTableColumnDef]="columns[0]">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'namespace.resource_name' | translate }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let cell">
      <ng-container
        *ngFor="let partial of splitName(cell.resourceName); let first = first"
      >
        <ng-container *ngIf="!first">/</ng-container>
        {{ partial | translate }}
      </ng-container>
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="columns[1]">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'namespace.quota_hard' | translate }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let cell">
      {{ cell.hard || '-' }}
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="columns[2]">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'namespace.quota_used' | translate }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let cell">
      {{ cell.used || '-' }}
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="columns[3]">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'namespace.quota_scope' | translate }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let cell">
      {{ cell.scope || '-' }}
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
</aui-table>
<alk-zero-state
  *ngIf="!effectiveQuotas || effectiveQuotas.length === 0"
  resourceName="namespace.resource_quotas"
></alk-zero-state>
