<input
  #inputRef
  aui-input
  [class.input--has-search]="value"
  [(ngModel)]="value"
  (keyup.enter)="onSearch(value)"
  placeholder="{{ 'search_by_name' | translate }}"
/>

<div class="search-icon-container">
  <div
    (click)="onSearch(value)"
    *ngIf="value"
    (click)="onSearch('')"
    class="search-icon-container__icon-wrapper"
  >
    <aui-icon
      class="search-icon-container__delete-icon"
      icon="basic:close_circle_s"
    >
    </aui-icon>
  </div>
  <div class="search-icon-container__divider"></div>
  <div (click)="onSearch(value)" class="search-icon-container__icon-wrapper">
    <aui-icon
      class="search-icon-container__search-icon"
      [class.search-icon-container__search-icon--searching]="searching"
      [icon]="searching ? 'spinner' : 'search_s'"
    >
    </aui-icon>
  </div>
</div>
