<aui-dialog-header>{{ title }}</aui-dialog-header>

<aui-dialog-content>
  <form
    [formGroup]="form"
    auiForm
    auiFormLabelWidth="150px"
    [auiFormEmptyAddon]="true"
  >
    <aui-form-item>
      <label auiFormItemLabel> {{ 'name' | translate }} </label>
      <input auiFormItemControl aui-input required formControlName="name" />
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel> {{ 'type' | translate }} </label>

      <aui-radio-group formControlName="type">
        <aui-radio-button
          *ngFor="let volumeType of volumeTypes"
          [value]="volumeType"
        >
          {{ ('pod_spec_form.' + volumeType) | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>

    <!-- Volume source forms -->
    <!-- persistentVolumeClaim -->
    <div
      class="volume-attributes-wrapper"
      [formGroup]="attributeForms.get('persistentVolumeClaim')"
      [hidden]="type !== 'persistentVolumeClaim'"
    >
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'pod_spec_form.persistentVolumeClaim' | translate }}
        </label>

        <aui-select
          required
          auiFormItemControl
          [loading]="!(pvcNames$ | async)"
          formControlName="claimName"
        >
          <aui-option *ngFor="let pvc of pvcNames$ | async" [value]="pvc">
            {{ pvc }}
          </aui-option>
          <aui-option-placeholder
            >{{ 'no_data_hint' | translate }}</aui-option-placeholder
          >
        </aui-select>
      </aui-form-item>
    </div>

    <!-- host path -->
    <div
      class="volume-attributes-wrapper"
      [formGroup]="attributeForms.get('hostPath')"
      [hidden]="type !== 'hostPath'"
    >
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'pod_spec_form.hostPath' | translate }}
        </label>

        <input auiFormItemControl aui-input formControlName="path" />
      </aui-form-item>
    </div>

    <!-- configMap -->
    <div
      class="volume-attributes-wrapper"
      [formGroup]="attributeForms.get('configMap')"
      [hidden]="type !== 'configMap'"
    >
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'pod_spec_form.configMap' | translate }}
        </label>

        <aui-select
          required
          [loading]="!(configMaps$ | async)"
          [filterable]="true"
          [allowCreate]="true"
          auiFormItemControl
          formControlName="name"
        >
          <aui-option
            *ngFor="let configMap of configMaps$ | async"
            [value]="configMap.objectMeta.name"
          >
            {{ configMap.objectMeta.name }}
          </aui-option>
          <aui-option-placeholder
            >{{ 'no_data_hint' | translate }}</aui-option-placeholder
          >
        </aui-select>
      </aui-form-item>

      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'pod_spec_form.key_to_path_enabled' | translate }}
        </label>
        <aui-switch
          [(ngModel)]="cfgToggle"
          (ngModelChange)="ktpToggleChange($event, 'configMap')"
          [ngModelOptions]="{standalone: true}"
        ></aui-switch>
      </aui-form-item>

      <aui-form-item *ngIf="cfgToggle">
        <label auiFormItemLabel>
          {{ 'pod_spec_form.key_to_path' | translate }}
        </label>

        <alk-key-to-path-items-form
          [availableKeys]="(selectedConfigMap$ | async)?.keys"
          auiFormItemControl
          formControlName="items"
        >
        </alk-key-to-path-items-form>
      </aui-form-item>
    </div>

    <!-- secret -->
    <div
      class="volume-attributes-wrapper"
      [formGroup]="attributeForms.get('secret')"
      [hidden]="type !== 'secret'"
    >
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'pod_spec_form.secret' | translate }}
        </label>

        <aui-select
          required
          [filterable]="true"
          [allowCreate]="true"
          [loading]="!(secrets$ | async)"
          auiFormItemControl
          formControlName="secretName"
        >
          <aui-option
            *ngFor="let secret of secrets$ | async"
            [value]="secret.objectMeta.name"
          >
            {{ secret.objectMeta.name }}
          </aui-option>
          <aui-option-placeholder
            >{{ 'no_data_hint' | translate }}</aui-option-placeholder
          >
        </aui-select>
      </aui-form-item>

      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'pod_spec_form.key_to_path_enabled' | translate }}
        </label>
        <aui-switch
          [(ngModel)]="secretToggle"
          (ngModelChange)="ktpToggleChange($event, 'secret')"
          [ngModelOptions]="{standalone: true}"
        ></aui-switch>
      </aui-form-item>

      <aui-form-item *ngIf="secretToggle">
        <label auiFormItemLabel>
          {{ 'pod_spec_form.key_to_path' | translate }}
        </label>

        <alk-key-to-path-items-form
          [availableKeys]="(selectedSecret$ | async)?.keys"
          auiFormItemControl
          formControlName="items"
        >
        </alk-key-to-path-items-form>
      </aui-form-item>
    </div>

    <div class="volume-attributes-wrapper" [hidden]="type !== 'emptyDir'">
      <!-- Nothing here -->
    </div>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button
      aui-button="primary"
      [disabled]="confirmDisabled"
      (click)="onConfirm()"
    >
      {{ 'confirm' | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
