:host::ng-deep {
  .aui-card {
    &__content {
      margin-top: 16px;
      .advanced-title {
        font-size: 18px;
        color: #333;
        padding: 0;
        padding-bottom: 12px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ededed;
        margin-bottom: 16px;
      }
      .rules .aui-form-item {
        padding-top: 20px;
        border-top: 1px solid #ededed;
      }
    }
  }
}

alk-key-value-form-list {
  flex: 1;
}
