<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-card>
    <div auiCardHeader>
      {{ (updateMode ? 'update' : 'create' ) | translate }} {{ 'ingress' |
      translate }}
    </div>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel> {{ 'namespace' | translate }} </label>
      <aui-select
        auiFormItemControl
        [loading]="!(namespaces$ | async)"
        (blur)="onBlur()"
        required
        formControlName="namespace"
      >
        <aui-option
          *ngFor="let namespace of namespaces$ | async"
          [value]="namespace"
        >
          {{ namespace }}
        </aui-option>
      </aui-select>
    </aui-form-item>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel> {{ 'name' | translate }} </label>
      <input
        auiFormItemControl
        aui-input
        required
        [placeholder]="'name_placeholder' | translate"
        (blur)="onBlur()"
        formControlName="name"
      />
      <div auiFormItemError>
        <ng-container *ngIf="form.get('metadata.name').errors?.required">
          {{ 'required' | translate }}
        </ng-container>
        <ng-container *ngIf="form.get('metadata.name').errors?.pattern">
          {{ 'name_placeholder' | translate }}
        </ng-container>
      </div>
    </aui-form-item>

    <aui-form-item [formGroup]="form.get('spec.backend')">
      <label auiFormItemLabel> {{ 'ingress.serviceName' | translate }} </label>
      <aui-select
        auiFormItemControl
        (blur)="onBlur()"
        clearable
        formControlName="serviceName"
      >
        <aui-option
          *ngFor="let service of services"
          [value]="service.objectMeta.name"
        >
          {{ service.objectMeta.name }}
        </aui-option>
        <aui-option-placeholder
          >{{ 'no_data_hint' | translate }}</aui-option-placeholder
        >
      </aui-select>
    </aui-form-item>

    <aui-form-item [formGroup]="form.get('spec.backend')">
      <label auiFormItemLabel> {{ 'ingress.servicePort' | translate }} </label>
      <aui-select
        auiFormItemControl
        (blur)="onBlur()"
        formControlName="servicePort"
      >
        <aui-option *ngFor="let port of ports" [value]="port.port">
          {{ port.port }}
        </aui-option>
        <aui-option-placeholder
          >{{ 'no_data_hint' | translate }}</aui-option-placeholder
        >
      </aui-select>
    </aui-form-item>

    <div class="advanced-title">{{ 'ingress.rules' | translate }}</div>
    <alk-ingress-rules-form
      auiFormItemControl
      [services]="services"
      (blur)="onBlur()"
      [formControl]="form.get('spec.rules')"
    ></alk-ingress-rules-form>

    <div class="advanced-title">TLS</div>
    <alk-ingress-tls-form
      auiFormItemControl
      [secrets]="secrets"
      [hosts]="ruleHosts"
      (blur)="onBlur()"
      [formControl]="form.get('spec.tls')"
    ></alk-ingress-tls-form>

    <alk-foldable-block text="more" formGroupName="metadata">
      <aui-form-item>
        <label auiFormItemLabel> {{ 'labels' | translate }} </label>

        <alk-key-value-form-table
          auiFormItemControl
          (blur)="onBlur()"
          formControlName="labels"
        >
        </alk-key-value-form-table>
      </aui-form-item>

      <aui-form-item>
        <label auiFormItemLabel> {{ 'annotations' | translate }} </label>

        <alk-key-value-form-table
          auiFormItemControl
          (blur)="onBlur()"
          formControlName="annotations"
        >
        </alk-key-value-form-table>
      </aui-form-item>
    </alk-foldable-block>
  </aui-card>
</form>
