@import '../../../shared/var';

:host ::ng-deep {
  .aui-form-item__label {
    width: auto;
  }
  .aui-form-item__control {
    width: auto;
  }

  input {
    width: 60px;
  }

  .aui-input-group {
    .aui-input-group__addon {
      padding: 0;
    }

    .aui-button {
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      padding: 0;
      border-left: none;
      border-right: none;

      .aui-button__content {
        padding: 0;
      }
    }
  }
}

.status_info {
  font-size: 18px;
}

.scales_warning_info {
  color: $color-warning;
}
