<aui-dialog-header>
  {{ 'scale' | translate }} {{ kind | translate }} {{ name }}
</aui-dialog-header>

<aui-dialog-content class="update-resource-dialog">
  <form #form="ngForm">
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'current_pods_number_is' | translate }}
      </label>
      <div>{{ current }}</div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'desired_pods_number_is' | translate }}
      </label>
      <aui-input-group auiFormItemControl>
        <button
          aui-button
          [disabled]="desired <= 0"
          auiInputAddonBefore
          (click)="desired = desired <= 0 ? 0 : desired - 1"
        >
          <aui-icon icon="basic:minus "></aui-icon>
        </button>
        <button
          aui-button
          auiInputAddonAfter
          (click)="desired = desired <= 0 ? 1 : desired + 1"
        >
          <aui-icon icon="basic:plus"></aui-icon>
        </button>
        <input
          type="number"
          aui-input
          required
          min="1"
          name="replicas"
          [(ngModel)]="desired"
        />
      </aui-input-group>
    </aui-form-item>
    <div *ngIf="desired > 100" class="scales_warning_info">
      {{ 'scale_replica_too_large_warning' | translate }}
    </div>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button="primary" [auiDialogClose]="desired">
      {{ 'update' | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
