<aui-dialog-header>
  {{ 'update' | translate }} {{ 'env_from' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <alk-env-from-form [namespace]="namespace" [(ngModel)]="envFrom">
  </alk-env-from-form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button="primary" (click)="onConfirm()">
      {{ 'confirm' | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
