$background-color: #fafafa;

:host::ng-deep {
  .aui-card {
    &__content {
      margin-top: 16px;
    }
  }
}

aui-input-group {
  flex: 1;
}

.requests-limit-separator {
  margin: 0 10px;
  color: #ccc;

  &::after {
    display: block;
    content: '<=';
  }
}

.addon-label {
  white-space: nowrap;
}

.input-groups-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: $background-color;
  box-shadow: 0 0 0 8px $background-color;
  margin: 0 8px;
}

.input-groups-label {
  margin-right: 8px;
  font-weight: 500;
  min-width: 36px;
  text-align: end;
}
