<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-card>
    <div auiCardHeader>
      {{ (updateMode ? 'update' : 'add' ) | translate }} {{ 'resourcequota' |
      translate }}
    </div>

    <aui-form-item>
      <label auiFormItemLabel> {{ 'namespace' | translate }} </label>
      <div>{{ namespace }}</div>
    </aui-form-item>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel> {{ 'name' | translate }} </label>
      <input
        auiFormItemControl
        aui-input
        required
        (blur)="onBlur()"
        formControlName="name"
      />
    </aui-form-item>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel> {{ 'labels' | translate }} </label>

      <alk-key-value-form-table
        auiFormItemControl
        (blur)="onBlur()"
        formControlName="labels"
      >
      </alk-key-value-form-table>
    </aui-form-item>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel> {{ 'annotations' | translate }} </label>

      <alk-key-value-form-table
        auiFormItemControl
        (blur)="onBlur()"
        formControlName="annotations"
      >
      </alk-key-value-form-table>
    </aui-form-item>

    <ng-container formGroupName="spec">
      <ng-container formGroupName="hard">
        <!-- CPU/MEM -->
        <aui-form-item *ngFor="let type of ['cpu', 'memory']">
          <label auiFormItemLabel> {{ type | translate }} </label>
          <div class="input-groups-wrapper">
            <aui-input-group>
              <div auiInputAddonBefore class="addon-label">
                {{ 'requests' | translate }}
              </div>
              <input
                aui-input
                auiFormItemControl
                (blur)="onBlur()"
                [formControlName]="'requests.' + type"
              />
            </aui-input-group>

            <span class="requests-limit-separator"></span>
            <aui-input-group>
              <div auiInputAddonBefore class="addon-label">
                {{ 'limits' | translate }}
              </div>
              <input
                aui-input
                auiFormItemControl
                (blur)="onBlur()"
                [formControlName]="'limits.' + type"
              />
            </aui-input-group>
          </div>
        </aui-form-item>

        <aui-form-item>
          <label auiFormItemLabel> {{ 'storage' | translate }} </label>
          <input
            auiFormItemControl
            aui-input
            (blur)="onBlur()"
            formControlName="requests.storage"
          />
        </aui-form-item>

        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'persistentvolumeclaims' | translate }}
          </label>
          <input
            auiFormItemControl
            aui-input
            (blur)="onBlur()"
            formControlName="persistentvolumeclaims"
          />
        </aui-form-item>

        <aui-form-item>
          <label auiFormItemLabel> {{ 'pods' | translate }} </label>
          <input
            auiFormItemControl
            aui-input
            (blur)="onBlur()"
            formControlName="pods"
          />
        </aui-form-item>
      </ng-container>
    </ng-container>
  </aui-card>
</form>
