<aui-table [dataSource]="tls">
  <ng-container [auiTableColumnDef]="'secret'">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'secret' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <a [routerLink]="getSecretResource(item.secretName) | alkDetailRoutes">
        {{ item.secretName || '-' }}
      </a>
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="'hosts'">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'domain_name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.hosts ? item.hosts.join('; ') : '-' }}
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row
    *auiTableHeaderRowDef="columnDefs"
  ></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columnDefs"></aui-table-row>
</aui-table>
<alk-zero-state *ngIf="isEmpty" resourceName="ingress.ingress_tls">
</alk-zero-state>
