<aui-table [dataSource]="containers" [trackBy]="trackByFn">
  <ng-container [auiTableColumnDef]="columns[0]">
    <aui-table-header-cell *auiTableHeaderCellDef>{{
      'name' | translate
    }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let container">
      <ng-container *ngIf="container.name">{{ container.name }}</ng-container>
      <ng-container *ngIf="!container.name">-</ng-container>
    </aui-table-cell>
  </ng-container>
  <ng-container [auiTableColumnDef]="columns[1]">
    <aui-table-header-cell *auiTableHeaderCellDef>{{
      'image' | translate
    }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let container">
      <ng-container *ngIf="container.image">{{ container.image }}</ng-container>
      <ng-container *ngIf="!container.image">-</ng-container>
    </aui-table-cell>
  </ng-container>
  <ng-container [auiTableColumnDef]="columns[2]">
    <aui-table-header-cell *auiTableHeaderCellDef>{{
      'env' | translate
    }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let container">
      <alk-yaml-data-tooltip [data]="container.env"></alk-yaml-data-tooltip>
    </aui-table-cell>
  </ng-container>
  <ng-container [auiTableColumnDef]="columns[3]">
    <aui-table-header-cell *auiTableHeaderCellDef>{{
      'commands' | translate
    }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let container">
      <alk-yaml-data-tooltip
        [data]="container.commands"
      ></alk-yaml-data-tooltip>
    </aui-table-cell>
  </ng-container>
  <ng-container [auiTableColumnDef]="columns[4]">
    <aui-table-header-cell *auiTableHeaderCellDef>{{
      'args' | translate
    }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let container">
      <alk-yaml-data-tooltip [data]="container.args"></alk-yaml-data-tooltip>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
<alk-zero-state *ngIf="showZeroState" resourceName="containers">
</alk-zero-state>
