<aui-card>
  <div auiCardHeader>{{ 'basic_info' | translate }}</div>
  <div class="alk-basic-info-container">
    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">{{ 'name' | translate }}</div>
        <div class="alk-basic-info-field__content">
          {{ detail?.objectMeta.name }}
        </div>
      </div>
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'namespace' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <a
            [routerLink]="[
              '/namespace/detail',
              { name: detail?.objectMeta.namespace }
            ]"
            >{{ detail?.objectMeta.namespace }}</a
          >
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'labels' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-resource-labels-field
            (updated)="updated.emit($event)"
            [resource]="detail"
          >
          </alk-resource-labels-field>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'annotations' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-resource-annotations-field
            (updated)="updated.emit($event)"
            [resource]="detail"
          >
          </alk-resource-annotations-field>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'replicaset' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <a [routerLink]="detail?.newReplicaSet | alkDetailRoutes">{{
            detail?.newReplicaSet?.objectMeta?.name
          }}</a>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'selectors' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-tags-label [tags]="detail?.selector"></alk-tags-label>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'images' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-shrink-list [list]="detail?.containerImages"></alk-shrink-list>
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'rolling_update_strategy' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ 'max_surge' | translate }}
          {{ detail?.rollingUpdateStrategy?.maxSurge }},
          {{ 'max_unavailable' | translate }}
          {{ detail?.rollingUpdateStrategy?.maxUnavailable }}
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'revision_history_limit' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ detail?.revisionHistoryLimit || '-' }}
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'update_strategy' | translate }}
        </div>
        <div class="alk-basic-info-field__content">{{ detail?.strategy }}</div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'min_ready_seconds' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          {{ detail?.minReadySeconds }}
        </div>
      </div>

      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'created_at' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-time
            [timestamp]="detail?.objectMeta.creationTimestamp"
            mode="absolute"
          ></alk-time>
        </div>
      </div>
    </div>

    <div class="alk-basic-info-row">
      <div class="alk-basic-info-field">
        <div class="alk-basic-info-field__label">
          {{ 'status' | translate }}
        </div>
        <div class="alk-basic-info-field__content">
          <alk-pod-controller-status
            [tooltipPosition]="'end'"
            [podControllerInfo]="detail?.podControllerInfo"
          >
          </alk-pod-controller-status>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="appConfig.metricsServerEnabled">
    <div class="alk-card-section-divider"></div>
    <alk-pod-metrics-cards [metrics]="detail?.metrics"></alk-pod-metrics-cards>
  </ng-container>
</aui-card>

<aui-card>
  <div auiCardHeader>{{ 'conditions' | translate }}</div>
  <alk-condition-list [conditions]="detail?.conditions" [kind]="'Deployment'">
  </alk-condition-list>
</aui-card>

<aui-card>
  <div auiCardHeader>
    {{ 'pods' | translate }}
    <div style="flex: 1;"></div>
    <alk-pod-controller-info-icons
      [podControllerInfo]="detail?.podControllerInfo"
    >
    </alk-pod-controller-info-icons>
  </div>

  <alk-pod-list *ngIf="podListEndpoint" [endpoint]="podListEndpoint">
  </alk-pod-list>
</aui-card>

<aui-card>
  <div auiCardHeader>{{ 'deploy.old_replicaset' | translate }}</div>

  <alk-simple-resource-list
    (updated)="updated.emit($event)"
    [kind]="'deploy.old_replicaset'"
    [list]="detail?.oldReplicaSetList?.replicaSets"
    [actions]="[
      'update',
      'roll_back_to',
      'update_labels',
      'update_annotations',
      'delete'
    ]"
    [curResourceParams]="{
      apiVersion: detail?.newReplicaSet.typeMeta.apiVersion,
      kind: detail?.newReplicaSet.typeMeta.kind,
      name: detail?.newReplicaSet.objectMeta.name,
      namespace: detail?.newReplicaSet.objectMeta.namespace
    }"
    [rollBackResourceParams]="{
      apiVersion: detail?.typeMeta.apiVersion,
      kind: detail?.typeMeta.kind,
      name: detail?.objectMeta.name,
      namespace: detail?.objectMeta.namespace
    }"
  >
  </alk-simple-resource-list>
</aui-card>

<aui-card>
  <div auiCardHeader>{{ 'persistentvolumeclaims' | translate }}</div>
  <alk-ref-pvc-list
    [kind]="'persistentvolumeclaim'"
    [list]="detail?.persistentVolumeClaimList?.items"
  >
  </alk-ref-pvc-list>
</aui-card>

<aui-card>
  <div auiCardHeader>{{ 'services' | translate }}</div>

  <alk-ref-service-list
    [kind]="'service'"
    [list]="detail?.serviceList?.services"
  >
  </alk-ref-service-list>
</aui-card>
