@import '../../../shared/var';

.status-gauge-status-hint {
  display: flex;
  align-items: center;
  color: #999999;
  margin-bottom: 8px;

  &__item {
    margin-right: 12px;
    white-space: nowrap;
  }
}

$block: status-gauge-container;
.#{$block} ::ng-deep {
  display: flex;
  align-items: stretch;
  border-radius: 2px;
  overflow: hidden;
  height: 20px;
  width: 100%;
  aui-status-bar {
    flex: 1;
    cursor: pointer;
    .#{$block}__item {
      transition: opacity 0.1s, flex-grow 0.3s;
      &:hover {
        opacity: 0.8;
      }

      &--success {
        background-color: $color-success;
        &:hover {
          background-color: $color-success;
        }
      }

      &--running {
        background-color: $color-running;
        &:hover {
          background-color: $color-running;
        }
      }

      &--error {
        background-color: $color-error;
        &:hover {
          background-color: $color-error;
        }
      }

      &--pending {
        background-color: $color-primary;
        &:hover {
          background-color: $color-primary;
        }
      }

      &--unknown {
        background-color: $color-info;
        &:hover {
          background-color: $color-info;
        }
      }

      &--bound {
        background-color: $color-primary;
        &:hover {
          background-color: $color-primary;
        }
      }

      &--warning {
        background-color: $color-warning;
        &:hover {
          background-color: $color-warning;
        }
      }

      &--stopped {
        background-color: $color-stopped;
        &:hover {
          background-color: $color-stopped;
        }
      }

      &--null {
        background-color: #eee;
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}

.status-gauge-tooltip {
  display: flex;
  align-items: center;
  padding: 4px;

  &__label {
    margin-left: 6px;
    font-size: 12px;
  }
}
