<div class="status-gauge-status-hint">
  <div class="status-gauge-status-hint__item">
    {{ 'total' | translate }}
    {{ statusInfo.total || 0 }}
  </div>
  <div *ngFor="let item of statusItems; trackBy: trackByFn;"
       class="status-gauge-status-hint__item">
    {{ labelRender(item.key) }}
    {{ statusInfo[item.key] }}
  </div>
</div>
<div class="status-gauge-container">
  <aui-status-bar [status]="statusItems"
                  [template]="statusTooltip"
                  (statusClick)="onStatusBarClick($event.key)"
                  size="medium"></aui-status-bar>
</div>

<ng-template #statusTooltip let-key="key" let-status="status">
  <div class="status-gauge-tooltip">
    <ng-container *ngIf="status !== StatusToGenericStatus.null">
      <alk-status-icon [status]="status"></alk-status-icon>
      <div class="status-gauge-tooltip__label">
        {{ labelRender(key) }}:
        {{ statusInfo[key] }}
      </div>
    </ng-container>
    <ng-container *ngIf="status === StatusToGenericStatus.null">{{ 'no_data_hint' | translate }}</ng-container>
  </div>
</ng-template>
