<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-card>
    <div auiCardHeader>
      {{ 'daemonset' | translate }} - {{ 'basic' | translate }}
    </div>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel> {{ 'namespace' | translate }} </label>

      <aui-select
        auiFormItemControl
        [loading]="!(namespaces$ | async)"
        (blur)="onBlur()"
        required
        formControlName="namespace"
      >
        <aui-option
          *ngFor="let namespace of namespaces$ | async"
          [value]="namespace"
        >
          {{ namespace }}
        </aui-option>
      </aui-select>
    </aui-form-item>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel> {{ 'name' | translate }} </label>
      <input
        auiFormItemControl
        aui-input
        required
        (blur)="onBlur()"
        [placeholder]="'name_placeholder' | translate"
        formControlName="name"
      />
      <div auiFormItemError>
        <ng-container *ngIf="form.get('metadata.name').errors?.required">
          {{ 'required' | translate }}
        </ng-container>
        <ng-container *ngIf="form.get('metadata.name').errors?.pattern">
          {{ 'name_placeholder' | translate }}
        </ng-container>
      </div>
    </aui-form-item>

    <alk-foldable-block formGroupName="spec">
      <div class="alk-card-section-divider">
        {{ 'daemonset' | translate }} - {{ 'advanced' | translate }}
      </div>

      <ng-container [formGroup]="form">
        <aui-form-item formGroupName="metadata">
          <label auiFormItemLabel> {{ 'labels' | translate }} </label>

          <alk-key-value-form-table
            auiFormItemControl
            (blur)="onBlur()"
            formControlName="labels"
          >
          </alk-key-value-form-table>
        </aui-form-item>

        <aui-form-item formGroupName="metadata">
          <label auiFormItemLabel> {{ 'annotations' | translate }} </label>

          <alk-key-value-form-table
            auiFormItemControl
            (blur)="onBlur()"
            formControlName="annotations"
          >
          </alk-key-value-form-table>
        </aui-form-item>
      </ng-container>

      <aui-form-item formGroupName="selector">
        <label auiFormItemLabel> {{ 'selectors' | translate }} </label>

        <alk-key-value-form-table
          auiFormItemControl
          (blur)="onBlur()"
          formControlName="matchLabels"
        >
        </alk-key-value-form-table>
      </aui-form-item>

      <alk-daemon-set-update-strategy-form
        auiFormItemControl
        (blur)="onBlur()"
        formControlName="updateStrategy"
      >
      </alk-daemon-set-update-strategy-form>
    </alk-foldable-block>
  </aui-card>

  <ng-container formGroupName="spec">
    <aui-card formGroupName="template">
      <div auiCardHeader>{{ 'pod' | translate }}</div>

      <alk-pod-spec-form
        [namespace]="currentNamespace"
        formControlName="spec"
        auiFormItemControl
        (blur)="onBlur()"
      >
      </alk-pod-spec-form>
    </aui-card>
  </ng-container>
</form>
