<aui-dialog-header>
  {{ 'namespace.create_namespace' | translate }}
</aui-dialog-header>

<form>
  <aui-dialog-content>
    <alk-namespace-form [formControl]="nfc"></alk-namespace-form>
  </aui-dialog-content>

  <aui-dialog-footer>
    <div>
      <button aui-button="primary" [loading]="loading" (click)="onConfirm()">
        {{ 'confirm' | translate }}
      </button>
      <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
    </div>
  </aui-dialog-footer>
</form>
