<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-card>
    <div auiCardHeader>{{ 'persistentvolumeclaim.basic' | translate }}</div>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel> {{ 'namespace' | translate }} </label>
      <aui-select
        auiFormItemControl
        [loading]="!(namespaces$ | async)"
        (blur)="onBlur()"
        required
        formControlName="namespace"
      >
        <aui-option
          *ngFor="let namespace of (namespaces$ | async)"
          [value]="namespace"
        >
          {{ namespace }}
        </aui-option>
      </aui-select>
    </aui-form-item>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel> {{ 'name' | translate }} </label>
      <input
        auiFormItemControl
        aui-input
        (blur)="onBlur()"
        formControlName="name"
      />
      <div auiFormItemError>
        <ng-container *ngIf="form.get('metadata.name').errors?.required">
          {{ 'required' | translate }}
        </ng-container>
        <ng-container *ngIf="form.get('metadata.name').errors?.pattern">
          {{ 'name_placeholder' | translate }}
        </ng-container>
      </div>
    </aui-form-item>

    <aui-form-item formGroupName="spec">
      <label auiFormItemLabel>
        {{ 'persistentvolumeclaim.accessMode' | translate }}
      </label>
      <aui-radio-group auiFormItemControl formControlName="accessModes">
        <aui-radio-button
          *ngFor="let accessMode of accessModes"
          [value]="accessMode"
        >
          {{ 'persistentvolumeclaim.' + accessMode | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>

    <aui-form-item formGroupName="spec">
      <label auiFormItemLabel>
        {{ 'persistentvolumeclaim.volumeMode' | translate }}
      </label>
      <aui-select
        auiFormItemControl
        clearable="true"
        formControlName="volumeMode"
        (blur)="onBlur()"
      >
        <aui-option *ngFor="let volumeMode of volumeModes" [value]="volumeMode">
          {{ volumeMode }}
        </aui-option>
      </aui-select>
    </aui-form-item>

    <aui-form-item formGroupName="spec">
      <label auiFormItemLabel> {{ 'storageclasses' | translate }} </label>
      <aui-select
        auiFormItemControl
        clearable
        [loading]="!storageClassNames"
        (blur)="onBlur()"
        formControlName="storageClassName"
      >
        <aui-option
          *ngFor="let storageClassName of storageClassNames"
          [value]="storageClassName"
        >
          {{ storageClassName }}
        </aui-option>
      </aui-select>
      <button style="margin-left: 8px;" aui-button (click)="addClass()">
        <aui-icon icon="basic:plus"></aui-icon> {{ 'add' | translate }}
      </button>
    </aui-form-item>

    <aui-form-item formGroupName="spec">
      <label auiFormItemLabel> {{ 'size' | translate }} </label>
      <input
        auiFormItemControl
        required
        aui-input
        (blur)="onBlur()"
        formControlName="resources"
      />
    </aui-form-item>

    <alk-foldable-block text="persistentvolumeclaim.advanced">
      <aui-form-item formGroupName="spec">
        <label auiFormItemLabel> {{ 'selectors' | translate }} </label>

        <alk-key-value-form-table
          auiFormItemControl
          (blur)="onBlur()"
          formControlName="selector"
        >
        </alk-key-value-form-table>
      </aui-form-item>

      <aui-form-item formGroupName="metadata">
        <label auiFormItemLabel> {{ 'labels' | translate }} </label>

        <alk-key-value-form-table
          auiFormItemControl
          (blur)="onBlur()"
          formControlName="labels"
        >
        </alk-key-value-form-table>
      </aui-form-item>

      <aui-form-item formGroupName="metadata">
        <label auiFormItemLabel> {{ 'annotations' | translate }} </label>

        <alk-key-value-form-table
          auiFormItemControl
          (blur)="onBlur()"
          formControlName="annotations"
        >
        </alk-key-value-form-table>
      </aui-form-item>
    </alk-foldable-block>
  </aui-card>
</form>
