@import '../app/shared/mixins';

$table-flex-large: 4 0 100px;
$table-flex-medium: 1 0 100px;
$table-flex-small: 0 0 100px;

.aui-table {
  // Reset AUI Table styles until they are applied to the master branch.
  .aui-table__header-row {
    margin-top: -1px;
  }

  .aui-table__header-row,
  .aui-table__row {
    padding: 0;
  }

  .aui-table__header-cell {
    padding: 0 8px;
    white-space: nowrap;
  }

  .aui-table__cell.aui-table__column-name {
    a {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .aui-table__cell {
    padding: 12px 8px;
  }

  .aui-table__cell,
  .aui-table__header-cell {
    flex: $table-flex-medium;
  }

  .aui-table__column-name,
  .aui-table__column-reason,
  .aui-table__column-message,
  .aui-table__column-image,
  .aui-table__column-node_addresses,
  .aui-table__column-containerImages,
  .aui-table__column-internal_endpoints,
  .aui-table__column-metrics,
  .aui-table__column-config_value,
  .aui-table__column-allocated_resources,
  .aui-table__column-host {
    flex: $table-flex-large;
  }

  .aui-table__column-count,
  .aui-table__column-type,
  .aui-table__column-restarts,
  .aui-table__column-pods {
    flex: $table-flex-small;
    @include text-overflow();
  }

  .aui-table__column-action {
    flex: 0 0 44px;
    display: flex;
    justify-content: center;
  }

  .aui-table__column-creationTimestamp {
    flex: 0 0 120px;
  }

  .aui-table__cell {
    &.aui-table__column-status,
    &.aui-table__column-pods {
      display: flex;
      align-items: center;

      alk-status-icon {
        margin-right: 4px;
      }
    }
  }

  .aui-table__column-action .action-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #333;

    &:hover,
    &__active {
      background-color: #e5f5fc;
      color: $color-primary;
    }

    aui-icon {
      font-size: 12px;
    }
  }

  alk-tags-label {
    max-width: 100%;
  }
}

aui-dialog-content .aui-dialog__content {
  min-height: 0;
}

.alk-form-table {
  flex: 1;
  width: 100%;
  border-spacing: 0;
  background: #fafafa;

  alk-zero-state {
    .zero-state-hint {
      border-bottom: none;
      background: #fafafa;
      padding: 8px 0 7px 0;
    }
  }

  thead {
    background: #f0f0f0;
  }

  th {
    height: 32px;
    text-align: left;
    font-weight: normal;
    aui-icon {
      display: inline-block;
      vertical-align: text-top;
      font-size: 12px;
    }

    &[required]::before {
      content: '*';
      color: #ef8181;
      margin-right: 4px;
    }
  }

  td,
  th {
    vertical-align: middle;
    padding: 4px;

    &:first-child {
      padding-left: 8px;
    }

    &:last-child {
      padding-right: 8px;
    }
  }

  tr:first-child td {
    padding-top: 8px;
  }

  /* We have a convention here that the last column is the action column */
  &__action-col {
    text-align: center;
    padding: 8px 4px;
    white-space: nowrap;
    width: 32px;
    min-width: 32px;

    aui-icon {
      font-size: 16px;
      color: #000;
      cursor: pointer;
      margin: 0 4px;
      opacity: 0.4;

      &:hover {
        opacity: 1;
        color: $color-primary;
      }
    }
  }

  &__bottom-control-buttons {
    display: flex;
    width: 100%;
    border-top: none;

    .aui-button {
      flex: 1;
      border-style: dashed;

      &--default {
        border-color: #333;

        &:hover {
          border-color: $color-primary;
        }
      }
    }
  }

  &:not(.alk-form-table--no-row-separator)
    tr.alk-form-table--row-group-start:not(:first-child)
    td {
    border-top: 1px dashed #e8e8e8;
  }

  .alk-table-form-error-hint {
    color: #eb6262;
    font-size: $font-size-small;
    position: relative;
    top: -5px;
  }

  td.alk-table-form-error-hint {
    padding-top: 0;
  }

  // Some tweaks around aui inputs
  input.aui-input.aui-input--medium,
  .aui-input-group.aui-input-group--medium {
    height: 28px;
  }
}
