@import '../../_mixins.scss';

:host {
  display: inline-flex;
  align-items: center;
  padding: 4px 0;
  font-size: 14px;
  border-radius: 3px;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  overflow: hidden;

  ::ng-deep > *:first-child {
    @include text-overflow();
  }

  &:last-child {
    > alk-breadcrumb-separator {
      display: none;
    }
  }
}
