<div *ngFor="let templateRef of itemTemplateRefs" class="breadcrumb-item">
  <ng-container *ngTemplateOutlet="templateRef"></ng-container>
  <alk-breadcrumb-separator></alk-breadcrumb-separator>
</div>
