<table [formGroup]="form">
  <thead>
    <tr>
      <th>{{ 'name' | translate }}</th>
      <th>{{ 'containerPort' | translate }}</th>
      <th>{{ 'protocol' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tr
    *ngFor="let control of form.controls; let index = index"
    [formGroupName]="index"
  >
    <td><input (blur)="onBlur()" aui-input formControlName="name" /></td>

    <td>
      <input
        (blur)="onBlur()"
        type="number"
        aui-input
        required
        formControlName="containerPort"
      />
    </td>

    <td>
      <aui-select (blur)="onBlur()" formControlName="protocol">
        <aui-option *ngFor="let protocol of protocols" [value]="protocol">
          {{ protocol }}
        </aui-option>
      </aui-select>
    </td>

    <td>
      <button aui-button (click)="add(index + 1)">
        {{ 'add' | translate }}
      </button>
      <button aui-button (click)="remove(index)">
        {{ 'remove' | translate }}
      </button>
    </td>
  </tr>

  <tr *ngIf="form.length === 0">
    <button aui-button (click)="add(0)">{{ 'add' }}</button>
  </tr>
</table>
