<aui-table [dataSource]="normalizedEvents" [trackBy]="trackByFn">
  <ng-container *ngFor="let column of columnDefs">
    <ng-container [auiTableColumnDef]="column.name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ column.label | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container [ngSwitch]="column.name">
          <ng-container *ngSwitchCase="'sub_object'">
            {{ item[column.name] }}
          </ng-container>

          <alk-time *ngSwitchCase="'firstSeen'" [timestamp]="item[column.name]">
          </alk-time>

          <alk-time *ngSwitchCase="'lastSeen'" [timestamp]="item[column.name]">
          </alk-time>

          <ng-container *ngSwitchDefault>
            {{ item[column.name] }}
          </ng-container>
        </ng-container>
      </aui-table-cell>
    </ng-container>
  </ng-container>

  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row
    *auiTableRowDef="let row; columns: columns"
    [ngClass]="'event-row-type--' + row.type"
  ></aui-table-row>
</aui-table>
<alk-zero-state
  *ngIf="!normalizedEvents || normalizedEvents.length === 0"
  resourceName="event"
>
</alk-zero-state>
