@import '../../../../shared/var.scss';

:host {
  width: 100%;
  .footer {
    display: flex;
    margin-top: 14px;
    .button-wrapper {
      display: flex;
      justify-content: flex-end;
      flex: 30;
    }
    .placeholder {
      flex: 1;
    }
  }
  ::ng-deep {
    .alk-form-table {
      border: 1px solid #f0f0f0;
    }
    .aui-card {
      padding: 0;
      .aui-card__content {
        margin-top: 0;
        display: flex;
        form {
          background-color: #fafafa;
          flex: 30;
          padding-top: 12px;
        }
        .remove {
          font-size: 16px;
          color: #999;
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}
