<aui-card *ngFor="let tab of form.controls; let i = index" class="rule-item">
  <form auiForm [formGroup]="tab" auiFormLabelWidth="150px">
    <aui-form-item>
      <label auiFormItemLabel> {{ 'domain' | translate }} </label>
      <input
        auiFormItemControl
        aui-input
        placeholder="*"
        formControlName="host"
      />
    </aui-form-item>

    <aui-form-item formGroupName="http">
      <label auiFormItemLabel> {{ 'rule' | translate }} </label>
      <alk-ingress-paths-item-form
        auiFormItemControl
        formControlName="paths"
        [services]="services"
      ></alk-ingress-paths-item-form>
    </aui-form-item>
  </form>
  <aui-icon
    class="remove"
    icon="basic:trash"
    style="cursor: pointer;"
    (click)="remove(i)"
  ></aui-icon>
</aui-card>
<div class="footer">
  <div class="button-wrapper">
    <button aui-button (click)="add()">
      {{ 'ingress.add_rule' | translate }}
    </button>
  </div>
  <div class="placeholder"></div>
</div>
