<aui-table [dataSource]="lists">
  <ng-container [auiTableColumnDef]="columns[0]">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'namespace.resource_type' | translate }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let cell">
      {{ cell.resourceType | lowercase | translate }}
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="columns[1]">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'namespace.resource_name' | translate }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let cell">
      {{ cell.resourceName | lowercase | translate }}
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="columns[2]">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'namespace.min' | translate }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let cell">
      {{ cell.min || '-' }}
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="columns[3]">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'namespace.max' | translate }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let cell">
      {{ cell.max || '-' }}
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="columns[4]">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'namespace.default_request' | translate }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let cell">
      {{ cell.defaultRequest || '-' }}
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="columns[5]">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'namespace.default_limit' | translate }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let cell">
      {{ cell.default || '-' }}
    </aui-table-cell>
  </ng-container>

  <ng-container [auiTableColumnDef]="columns[6]">
    <aui-table-header-cell *auiTableHeaderCellDef
      >{{ 'namespace.max_limit_request_ratio' | translate
      }}</aui-table-header-cell
    >
    <aui-table-cell *auiTableCellDef="let cell">
      {{ cell.maxLimitRequestRatio || '-' }}
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
</aui-table>
<alk-zero-state
  *ngIf="!lists || lists.length === 0"
  resourceName="namespace.limit_ranges"
></alk-zero-state>
