<aui-dialog-header
  >{{ 'persistentvolumeclaim.add_custom_class' | translate }}</aui-dialog-header
>

<aui-dialog-content>
  <aui-form-item>
    <label auiFormItemLabel> {{ 'name' | translate }} </label>
    <input type="text" aui-input required [(ngModel)]="className" />
  </aui-form-item>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button="primary" [disabled]="!className" (click)="confirm()">
      {{ 'add' | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
