<ng-container *alkPageHeaderContent>
  <alk-default-breadcrumb>
    <div *alkBreadcrumbItem>{{ kind$ | async }} : {{ name$ | async }}</div>
  </alk-default-breadcrumb>
  <div fxFlex></div>
  <button
    aui-button
    *ngIf="(detail$ | async)?.data"
    [auiDropdown]="menu.menu"
    auiDropdownActive="action-button__active"
  >
    <span>{{ 'action' | translate }}</span>
    <aui-icon icon="angle_down"></aui-icon>
  </button>
  <alk-simple-resource-action-menu
    #menu
    (updated)="onUpdate(item)"
    (deleted)="onUpdate(item)"
    [resource]="detail$ | async"
  >
  </alk-simple-resource-action-menu>
</ng-container>

<aui-tab-group
  class="detail-tab-group"
  [selectedIndex]="tabIndex$ | async"
  (selectedIndexChange)="onTabIndexChange($event)"
>
  <aui-tab label="YAML"></aui-tab>
  <aui-tab label="{{ 'events' | translate }}"></aui-tab>
</aui-tab-group>

<div class="alk-detail-page-tab-container">
  <alk-resource-yaml-editor
    *ngIf="(tab$ | async) === 'yaml'"
    mode="view"
    [resourceDetail]="detail$ | async"
  >
  </alk-resource-yaml-editor>

  <aui-card *ngIf="(tab$ | async) === 'events'">
    <div auiCardHeader></div>
    <alk-event-list [events]="(detail$ | async)?.eventList?.events">
    </alk-event-list>
  </aui-card>
</div>
